input[type="radio"] {
    &.sr-only {
        div.absolute {
            transition: all 0.3s;
        }
        &:checked ~ div.absolute {
            border-color: $main-color;
        }
    }
}

input[type="text"]:disabled {
    background: #f9f9f9;
    color: #838383;
}

.copoun-btn {
    top: 1px;
    bottom: 1px;
    height: 38px;
    left: 1px;
    [dir="ltr"] & {
        right: 1px;
    }
}
