.s-count-down-wrapper {
    &.inline-counter {
        .s-count-down-list {
            padding: 0 !important;
            display: inline-flex;
            gap: 1rem;
            margin: 0;

            .s-count-down-item {
                height: 2.7rem;
                width: 2.25rem;
                position: relative;
                border-radius: 2px;
                background: var(--06---Dark-color-gray-100, #F6F6F6);
                &:after {
                    content: ':';
                    position: absolute;
                    top: 0;
                    left: 2px;
                    transform: translate(-1rem, 10px);
                    font-weight: bold;
                }

                &:last-child {
                    &:after {
                        content: '';
                    }
                }

                .s-count-down-item-value {
                    font-weight: 700;
                    font-size: 1rem;
                    line-height: 1;
                    line-height: 1.4;
                }

                .s-count-down-item-label {
                    margin-top: 0;
                    opacity: 1;
                    font-size: 0.6rem;
                }
            }
        }
    }
}