.s-gifting-modal{
    .s-checkbox{
        background-color: #fff !important;
        border: 1px solid #ccc !important;
        &:focus{
            --tw-ring-color: transparent !important;
        }
    }
    .s-gifting-filepond-placeholder-icon svg{
        fill: #ccc !important;
    }
}
.s-gifting-widget .s-list-tile-item{
    @apply border-none rounded-t-none;
}