// Product card
.product-entry {
  @apply h-full transition-shadow duration-300 bg-white hover:shadow-default rounded-lg justify-between flex relative;

  &--full-image {
    @apply h-80 md:h-auto;

    .product-entry__title a {
      @apply text-white line-clamp-3;
      text-shadow: 0 0 1px #999;
    }
  }

  &__image {
    @apply bg-gray-100 relative overflow-hidden hover:opacity-90 w-full h-full shrink-0;

    &::before{
      font-family: 'sallaicons';
      content: '\ec1f';
      @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 inline-block text-gray-200 text-3xl;
    }

    img{
      @apply transition-opacity duration-500 opacity-0;

      &.loaded{
        @apply opacity-100 relative;
      }
    }
  }

  .out-of-stock &__image img,
  &--full-image.out-of-stock img {
    @apply grayscale
  }

  &__title a {
    @apply block text-sm font-bold text-gray-800 hover:text-primary;

    .product-entry--horizontal & {
      @apply line-clamp-2;
    }
  }

  &--minimal {
    .product-entry__title a {
      @apply line-clamp-2;
    }

    .btn--wishlist {
      @apply absolute top-0 end-0;

      .sicon-heart {
        text-shadow: 0 0 2px #999;
        color: #fff;
      }
    }
  }

  &--minimal,
  &--special {
    .product-rating{
      @apply absolute bottom-2 end-2;

      span{
        color: #fff;
        text-shadow: 0 0 2px #666;
      }
    }
  }

  &--fit-type {
    .product-entry__image {
      @apply h-44 max-h-60;
    }
  }

  &--horizontal {
    .product-entry__image {
      @apply h-auto w-32 sm:w-56 rtl:rounded-r-md ltr:rounded-l-md;
    }
  }

  &--vertical {
    @apply flex-col;

    .product-entry__image {
      @apply rounded-t-md;
    }

    salla-button.btn--wishlist {
      @apply absolute top-4 md:end-4 end-2 opacity-75 hover:opacity-100;

      button{
        background-color: #fff !important;
      }
    }

    @media (max-width: 480px){
      .product-rating{
        @apply absolute start-3 -top-8;

        span{
          color: #fff;
          text-shadow: 0 0 2px #666;
        }
      }
    }
  }

  &--special {
    .product-rating{
      @apply absolute bottom-auto -top-8 end-5;
    }

    &.product-entry--fit-type {
      .product-entry__image {
        @apply sm:h-500;
      }
    }

    &.with-timer{
      &.product-entry--fit-type {
        .product-entry__image {
          @apply sm:h-[420px];
        }
      }
    }
  }

  .s-block--special-products .tabs__item &{
    @apply self-start h-full;
  }

  &--wishlist {
    @apply justify-between p-4 flex-col sm:flex-row;

    .product-entry__image {
      @apply overflow-hidden w-16 h-12 md:w-20 md:h-16 rounded-md;
    }

    salla-button{
      @apply flex;
    }
  }
}

.products-container {
  &.list {
    .product-entry {
      @media (min-width: 768px) {
        flex-direction: row;

        &__image {
          height: 100%;
          width: 240px;
        }
      }
    }
  }
}

.s-comments {
  &-page {
    @apply pt-16;
  }

  &-product {
    @apply bg-gray-100 mb-4 md:mb-14 py-4 md:py-14;

    .s-comments-container {
      @apply container;
    }
  }
}

// share list
.share-btns-list{
  @apply absolute z-10 overflow-hidden opacity-0 top-12 bg-white flex items-center flex-col shadow-huge rounded-3xl;

  a{
    @apply block p-3 hover:text-primary;
  }
}


// cart
.cart-item{
  salla-conditional-fields > section{
    @apply px-0 pt-0 last:mb-0 last:pb-0;
  }
}

// Digital Rating(SVG)---------------------------
.pie-wrapper {
  @apply w-[72px] h-[72px] absolute top-2.5 end-5 text-primary flex items-center justify-center;

  .pie-svg {
    circle {
      transition: stroke-dashoffset 1s linear;
      stroke: #E8EDF2;
      stroke-width: 2px;
      stroke-linecap: round;
      fill: none;

      &.circle_bar {
        stroke: var(--color-primary);
        stroke-dasharray: 100 100;
        stroke-dashoffset: 100;
      }
    }
  }

  span {
      display: block;
      font-size: var(--font-xsm);
      color: var(--color-text);
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      line-height: 1;
      font-size: var(--font-xsm);

      b {
          font-size: var(--font-md) !important;
          margin-bottom: 3px;
          color: var(--color-primary);
      }
  }

}

/* Add to cart sticky bar */
@media (max-width: 640px) {
  .is-sticky-product-bar{
    &.product-single{
      @apply pb-16;
    }

    .sticky-product-bar{
      @apply flex fixed z-[2] bottom-0 left-0 p-3 w-full justify-between items-center shadow-[-1px_-2px_9px_0_rgba(0,0,0,0.05)] transition duration-700 delay-500 translate-y-100 opacity-0 ease-elastic;

      &__quantity,
      salla-add-product-button{
        @apply translate-y-5 opacity-0 transition duration-700 ease-elastic;
      }

      &__price,
      .form-label{
        @apply hidden;
      }

      &__quantity{
        @apply m-0 delay-[900ms];
      }

      salla-add-product-button{
        @apply w-auto m-0 flex-1 rtl:mr-5 ltr:ml-5 delay-1000;
      }

      .hydrated &{
        &,
        &__quantity,
        salla-add-product-button{
          @apply translate-y-0 opacity-100;
        }
      }
    }
  }
}

// Tabs fix
.s-tabs-header * {
  pointer-events: auto !important;
}
.product__description ul , .product__description li{
  list-style: inherit !important;
}
.product__description ol{
  list-style: auto !important;
}



// 3d Image Viewer ------------------------------
.model-viewer-wrapper {
  @apply relative mb-4 md:mb-0 w-full;
}

.switcher-3d-view {
  @apply absolute top-5 rtl:left-4 ltr:right-4;

  // .has-calories-badge &{
  //   @apply top-auto bottom-5;
  // }
}

.model-viewer {
  @apply w-full h-full;

  &__poster {
    @apply absolute inset-0 bg-contain bg-no-repeat bg-center;
  }
}

.s-toggle .s-toggle-switcher-has-text:before {
  @apply content-[attr(data-switcher-text)] font-bold text-center text-gray-400 text-xs leading-[22px];
  font-family: arial, serif;
}

.s-toggle .s-toggle-input:checked+div.s-toggle-switcher-bg-white:before {
  @apply text-gray-600 border-white bg-white;
}

// product options file upload component
.product-option-uploader{
  .s-file-upload-wrapper{
    min-height: 120px;
    .filepond--list-scroller{
      overflow-y: inherit !important;
    }
    .filepond--drop-label {
      min-height: 120px !important;
      @apply bg-white cursor-pointer border-dashed rounded-md border border-gray-200;
    }
    .product-option-uploader-placholder{
      @apply flex flex-col justify-center items-center;
      &-icon {
        @apply mb-1;
        i {
          color: #7c8082;
          @apply text-xl;
        }
      }
    }

  }
}