.swiper{
  &.slider-layout{
    @apply -mx-2.5 w-[calc(100%+20px)] px-[5px] sm:px-0 pe-12 lg:pe-0;

    &.thumbs-slider{
      @apply -mx-2 lg:w-[calc(100%+16px)] px-0;

      .swiper-slide{
        @apply w-1/4 sm:w-1/5 md:w-1/4 lg:w-1/5 mx-2 p-0 cursor-pointer h-16 md:h-20 transition-opacity duration-300 bg-gray-50 rounded-md;

        &:hover{
          @apply opacity-80
        }

        &:after{
          @apply transition-shadow duration-300 content-[''] absolute top-0 left-0 h-full w-full rounded-md z-1 ring-1 ring-gray-200 ring-inset;
        }

        &-thumb-active:after{
          @apply ring-2 ring-primary;
        }
      }
    }
  }

  &.details-slider{
    @apply bg-white border-[1px];
    .swiper-slide{
      @apply relative rounded-md bg-white ring-1 ring-inset ring-gray-100;
    }

    salla-button.btn--wishlist{
      @apply absolute rtl:right-4 ltr:left-4 bottom-4 z-[2] sm:hidden;
    }
  }

  .slide--one-fourth{
    @apply h-auto w-full sm:w-1/2 md:w-1/3 lg:w-1/4 max-w-[250px] sm:max-w-[320px] px-[5px] sm:px-2.5;
  }

  .slide--one-sixth{
    @apply w-1/2 sm:w-2/6 md:w-1/4 lg:w-1/6 px-[5px] sm:px-2.5;
  }

  // Fix Flickering in Safari 
  .swiper-slide{
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
  }
}

.home-slider {
  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:not(.loaded) {
      .overlay {
        opacity: 0;
      }
    }
  }

  // Photos block slider
  &.photos-slider {
    .swiper-slide {
      @apply h-auto w-[80%] relative rounded-md overflow-hidden mx-2 md:mx-3 lg:mx-4;
    }

    // pagination
    .swiper-pagination-bullet {
      width: 20px;
      border-radius: 5px;
      background: #fff;
      opacity: 0.3;

      &-active {
        opacity: 1;
        background-color: var(--color-primary);
      }
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal{
      @apply bottom-3 sm:bottom-6; 
    }
  }
}

.swiper:not(.swiper-initialized) {
  .swiper-button {
    opacity: 0;
  }
}

// testimonials-slider
.s-block--testimonials{
  .s-block__title{
    @apply px-5 xl:px-0
  }

  .container{
    @apply p-0;
  }

  @media (min-width: 1024px){
    .container{
      max-width: 1240px;
    }
  }
}

.testimonials-slider {
  @apply transition-opacity;

  &:not(.swiper-initialized){
    @apply opacity-0;
  }

  &.swiper{
    @apply pe-12 lg:pe-0 ps-5 lg:ps-0;

    @media (min-width: 1024px){
      margin-left: -200px;
      margin-right: -200px;
    }
  }

  .testimonial {
    height: 100%;
    @apply shadow-default lg:shadow-none flex relative p-6 lg:p-10 bg-white rounded-l-md transition-opacity opacity-60;

    &__inner{
      @apply flex items-center;
    }

    &__avatar{
      @apply w-20 h-20 rounded-full overflow-hidden shrink-0;
    }

    &__icon {
      @apply absolute end-8 sm:end-12 lg:end-8 top-4 text-4xl sm:text-5xl text-primary;
    }

    &__text p,
    &__rating {
      display: none;
    }
  }

  .swiper-slide{
    @apply overflow-hidden px-2.5 lg:px-3.75;
    width: 20%;
    height: auto;

    &:not(.swiper-slide-active){
      .testimonial {
        &__avatar {
          @apply mb-8;
        }

        &__inner{
          @apply flex-col items-center text-center relative;
        }

        &__icon{
          @apply -top-8 left-1/2 -translate-x-1/2 text-2xl;
        }
      }
    }
  }

  .swiper-slide-prev{
    .testimonial {
      @apply items-center justify-end;
      padding-inline-end: 7%;
    }
  }

  .swiper-slide-next {
    .testimonial {
      @apply items-center justify-start;
      padding-inline-start: 7%;
    }
  }

  .swiper-slide-active{
    width: 60%;

    .testimonial{
      box-shadow: 5px 0 0 0 var(--color-main);
      @apply opacity-100 lg:pe-24;

      &__inner{
        @apply w-full;

        @media (max-width: 1024px){
          @apply flex-col items-center justify-center text-center;

          .testimonial__avatar{
            @apply mb-3 mx-0;
          }
        }
      }

      &__avatar {
        @apply me-6;
      }

      &__info{
        @apply mb-2 lg:mb-0;
      }

      &__rating,
      &__text p{
        display: block;
      }
    }
  }

  // navigation arrows
  .btn--md-white-arrow {
    @apply hidden lg:flex translate-y-1/2;
    right: 17%;
    top: 35%;

    &.slider-next {
      @apply start-auto;
      left: 17%;
    }

    .ltr &{
      left: 17%;
      right: auto;

      &.slider-next {
        right: 17%;
        left: auto
      }
    }
  }
}

.best-products-slider {
  .swiper-wrapper {
    @media screen and (min-width: 768px) {
      height: 510px;

      .swiper-slide {
        height: calc((100% - 30px) / 2);
      }
    }
  }
}

//general
.swiper-button-disabled {
  opacity: 0.5;
}