{#
| Variable                       | Type     | Description                                         |
|--------------------------------|----------|-----------------------------------------------------|
| page                           | object   |                                                     |
| page.title                     | string   |                                                     |
| page.slug                      | string   |                                                     |
#}
{% extends "layouts.customer" %}
{% block inner_title %}
<div class="w-full flex flex-row items-center justify-between">
    <h1 class="font-bold text-lg text-center sm:rtl:text-right sm:ltr:text-left mb-2">{{ page.title }}</h1>
    <a href="#" target="_blank" class="edit-profile flex flex-row items-center gap-2 text-red-400 text-sm"> {{ trans('common.elements.edit') }} <i class="sicon-link"></i></a>
</div>
{% endblock %}
{% block inner_content %}
    {% hook 'customer:profile.form.start' %}
    <salla-user-profile></salla-user-profile>
    {% hook 'customer:profile.form.end' %}

    <salla-verify></salla-verify>

    <salla-user-settings class="mt-10 block"></salla-user-settings>
{% endblock %}
