{#
| Variable                       | Type     | Description                                         |
|--------------------------------|----------|-----------------------------------------------------|
| page                           | object   |                                                     |
| page.title                     | string   |                                                     |
| page.slug                      | string   |                                                     |
#}
{% extends "layouts.customer" %}
{% block inner_title %}
	<div class="flex flex-row items-center justify-between w-full">
		<h1 class="mb-2 text-lg font-bold text-center sm:rtl:text-right sm:ltr:text-left">{{ page.title }}</h1>
		<a href="#" target="_blank" class="flex flex-row items-center gap-2 text-sm text-red-400 edit-profile">
			{{ trans('common.elements.edit') }}
			<i class="sicon-share"></i>
		</a>
	</div>
{% endblock %}

{% block inner_content %}
	{% hook 'customer:profile.form.start' %}
	<salla-user-profile custom-fields="{{custom_fields|json_encode}}"></salla-user-profile>
	{% hook 'customer:profile.form.end' %}

	<salla-verify></salla-verify>

	<salla-user-settings class="mt-10 block"></salla-user-settings>
{% endblock %}

