{#
| Variable                       | Type     | Description                                         |
|--------------------------------|----------|-----------------------------------------------------|
| page                           | object   |                                                     |
| page.title                     | string   |                                                     |
| page.slug                      | string   |                                                     |
#}
{% extends "layouts.customer" %}
{% block inner_content %}
    {% if is_page('customer.wallet') %}
        <h1>if you need to check current page</h1>
    {% endif %}

    <salla-wallet-table></salla-wallet-table>
{% endblock %}
