<ul class="hidden lg:flex main-menu items-center mx-6">
    {% for menu_id, menu in menus %}
        {% include 'components.header._menu-item' with {menu_class:''} %}
    {% endfor %}

    <li class="inline-block">
        <a href="#"
           id="discountLink"
           class="flex items-center transition duration-300 mx-1 p-2  text-dark text-sm font-bold">التخفيضات</a>
    </li>
</ul>