<div class="store-notify">
    {# <a href="#" id="notify-close">
        <i class="sicon-cancel"></i>
    </a> #}
    <p>{{trans('blocks.header.maintenance_alert')}}</p>
</div>


<style>
.store-notify{
    background-color: #d63031; 
    color: #fff;
    padding: 10px 15px;
    text-align: center;
    font-size: 17px;
}
p{
    margin: 0;
}
</style>