<section class="hero header-block header-block--nav-wrapper">
    <div class="container hero__content horizontal-nav-wrapper"> 
        <!-- Start Side Nav -->
        <nav class="nav-desktop nav-desktop--horizontal">
            <ul>
                {% for menu_id, menu in menus %}
                    {% include 'components.header._menu-item' %}
                {% endfor %}
            </ul>
        </nav>
        <!-- End Side Nav --> 
    </div>
</section>