{#
| Variable             | Type                   | Description                                        |
|----------------------|------------------------|----------------------------------------------------|
| menus                | Menu[] *Collection     | List of menus                                      |
| menus[].has_children | Bool                   |                                                    |
| menus[].url          | string                 |                                                    |
| menus[].title        | string                 |                                                    |
| menus[].attrs        | string                 | Menu dom attributes ex: ` id="offers"`             |
| menus[].link_attrs   | string                 | Menu link dom attributes ex: `class="offers-link"` |
| menus[].children     | Menu[] *Collection     |                                                    |
| menus[].mega_menu    | ?Product[] *Collection | List of selected products or null                  |
#}
{% if is_mobile %}
  <nav id="mobile-menu" class="mobile-menu lg:hidden overflow-hidden">
      <ul>
          {% for menu_id, menu in menus %}
              {% include 'components.header._menu-item' with {is_mobile:true} %}
          {% endfor %}
          {% component 'footer.pages' with {is_header:true} %}
      </ul>
      <button class="btn--close close-mobile-menu sicon-cancel"></button>
  </nav>
  <button class="btn--close-sm close-mobile-menu sicon-cancel"></button>

{% else %}
    <ul class="main-menu hidden lg:flex flex-wrap items-center mx-6 pt-8 pb-0">
      {% for menu_id, menu in menus %}
        {% include 'components.header._menu-item' with {is_root_menu:true} %}
      {% endfor %}
  </ul>
{% endif %}
