
{% if pages.count %}
    <ul class="hidden lg:flex items-center page-links-menu menu-divide">
        {% for key, page in pages|slice(0,3) %}
            <li class="inline-block">
                <a href="{{ page.url }}" class="block transition duration-300 p-4 
                hover:text-{{ store.theme.settings.topnav_link_hover ? '[color:var(--topnav-link-hover)]' : 'primary'  }}
                {% if pages|length == key + 1 %} ps-0 {% endif %} text-sm">
                    {{ page.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}