<div id="theme_preview_bar" class="theme-preview-bar">
    <h2>
        شريط البحث والإعلانات والأخبار ...
        {{ trans('blocks.header.preview_mode') }}:
        <span>{{ theme_loname }}</span>
    </h2>
    <a href="{{ link('preview_theme/cancel/preview')}}" class="btn">
        <i class="sicon-cancel"></i>
    </a>
</div>
