<div id="s-theme_preview_bar" class="s-theme-preview-bar bg-red-400  text-white py-2.5">
    <div class="container flex justify-between items-center">
        <h2 class="font-bold text-sm">
            {{ trans('blocks.header.preview_mode') }}:
            <span>{{ theme_name }}</span>
        </h2>
        <a href="{{ link('preview_theme/cancel/preview')}}" class="px-1">
            <i class="sicon-cancel"></i>
        </a>
    </div>
</div>