{#
| Variable              | Type               | Description | @see |
|-----------------------|--------------------|-------------|------|
| orders                | Order[] *Paginator |             | TODO |
| orders.next_page      | ?String            |             |      |
| orders.count          | Integer            |             |      |
| orders[].id           | Integer            |             |      |
| orders[].rating_url   | String             |             |      |
| orders[].has_feedback | Bool               |             |      |
#}
{% extends "layouts.master" %}

{% block content %}
    <main id="main">
        <div class="relative  profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
            <div class="container relative z-10 flex justify-between h-full items-center">
                <div class="self-start">
                    {% component breadcrumbs with {is_dark:true} %}
                </div>
            </div>
        </div>
        <div class="container mb-24">
            <div class="flex items-start flex-col lg:flex-row ">
                {% include 'pages.partials.customer.sidebar' %}
                <div class="main-content w-full flex-1 pt-6 md:pt-10 ">
                    <h1 class="font-bold text-lg md:mb-5">
                        {{ trans('pages.rating.rate_order') }} #{{ order.order_id }}
                    </h1>
                    {% if store.settings.rating.store or store.settings.rating.products or store.settings.rating.shipping %}
                        {% include 'pages.customer.orders.partials.rating' with {'order':order} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}