{% extends "layouts.master" %}
{% block content %}

    <div class="profile-header gradient-bg">
        <div class="container relative flex justify-between h-full items-center">
            <div class="self-start">
                {% component 'header.breadcrumbs' %}
            </div>
        </div>
    </div>

    <div class="container mb-8 sm:mb-24">
        <div class="flex items-start flex-col lg:flex-row ">
            <nav aria-label="Sidebar"
                 class="flex-shrink-0 lg:sticky top-24 lg:-mt-28  lg:shadow-default rounded-md lg:bg-white w-full lg:w-72 lg:me-8 pt-8 lg:pb-11 sidebar space-y-px">
                <div class="text-center md:mb-9">
                    <div class="h-20 w-20 m-auto avatar-wrap bg-color-gray rounded-full">
                        {% if is_current_url('profile') %}
                            <input class="filepond file-pond--circular has-image"
                                    data-default="{{ user.avatar }}"
                                    data-url="{{ '/api/v1/profile/update' }}"
                                    id="profile-img"
                                    type="file"/>
                        {% else %}
                            <img src="{{ user.avatar }}" class="rounded-full w-full h-full object-cover" alt="">
                        {% endif %}
                    </div>
                </div> 
                <div class="hidden lg:block">
                    {% component 'header.user-menu' with{is_profile_sidebar:true} %}
                </div>
            </nav>
            <div class="main-content w-full flex-1 pt-6 md:pt-10 ">
                <h1 class="font-bold text-lg mb-5">{{ page.title }}</h1>
                {#
                All customer pages have same header, this layout will wrap the different content.
                Use it like: `{% extends "layouts.customer" %}` instead of `{% extends "layouts.master" %}`
                Then body: `{% block inner_content %}` instead of `{% block content %}`
                #}
                {% block inner_content %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
