#tabbyPromoWrapper {
  background: white;
  @apply rounded-md hover:shadow-default duration-500 transition-shadow;

  #tabbyPromo {
    * {
      font-family: var(--font-main);
    }

    .tabby-promo-snippet {
      max-width: 100%;
      min-height: 100px;
      padding: 18px 20px;
      // border-color: var(--color-grey-dark);
      border: none;


      &__text, &__link {
        font-size: var(--font-sm);
        color: var(--color-text) !important;
      }

      &__link {
        font-weight: bold;
      }
    }
  }
}

.tabby-promo-wrapper {
  #tabby-promo {
    font-family: var(--font-main) !important;

    .tabby-promo {
      &__feature-title {
        font-size: var(--font-md);
      }

      &__feature-desc {
        font-size: var(--font-sm);
        line-height: 20px;
      }
    }
  }
}