{# partials/offer.twig #}
<div class="mb-4 text-green-600 flex items-start gap-2.5"> 
    <i class="{{ offer.discount_icon }} font-bold -translate-y-0.5 text-lg"></i>
    <div>
        <p class="text-sm font-medium">
            {{ trans('pages.cart.received_offer', {'offer': offer.offer_name}) }}
        </p>
        <p class="text-sm font-small">
            {{ offer.offer_message }}
        </p>
        <p class="text-xs mt-1 text-gray-400">
            {{ trans('pages.cart.discount_amount', {'amount': offer.discount_amount|money}) }}
        </p>
    </div>
</div>
