.btn {
  .loader {
    width: 0;
    opacity: 0;
    height: 16px;
    transform: scale(0);
    transition: 0.3s;
  }

  &--is-loading {
    .loader {
      width: 16px;
      margin: 0 5px;
      opacity: 1;
      transform: scale(1);
    }
  }

  &--delete {
    .loader {
      width: 15px;

      &:before {
        width: 12px;
        height: 12px;
        border-top-color: transparent;
        border-bottom-color: #fff;
        border-left-color: transparent;
        border-right-color: #fff;
      }
    }

    &.btn--is-loading {
      .icon {
        opacity: 0;
      }
    }
  }

  // .btn--star
  &--star {
    opacity: 0.5;
    &.selected {
      @apply text-theme-yellow;
      opacity: 1;
    }

    &[disabled] {
      background-color: transparent;

      &.selected {
        @apply text-theme-yellow;
      }
    }

    &:hover,
    &.hovered {
      &:not([disabled]):not(.selected) {
        opacity: 1;
      }
    }
  }
}

.wishlist-btn {
  &.is--loading {
    .loader {
      opacity: 1;

      &:before {
        width: 14px;
        height: 14px;
        border-width: 1px;
      }
    }

    i {
      display: none;
    }
  }
}
