.fix-align {
	transform: translateY(-3px);
	display: inline-block;
}

input[type="file"] {
	display: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}

.unicode {
	unicode-bidi: plaintext;
}

.products-container {
	&.list {
		.product-entry {
			@media (min-width: 768px) {
				flex-direction: row;

				&__image {
					height: 100%;
					width: 240px;
				}
			}
		}
	}
}

.spinner-loader {
	border-right-color: var(--main-color) !important;

	&.reverse {
		border-right-color: #9f7171 !important;
		background-color: #f98181;
	}
}

// for alpinejs
[x-cloak] {
	display: none;
}

.hide-scroll {
	/* hide scrollbar but allow scrolling */
	-ms-overflow-style: none;
	/* for Internet Explorer, Edge */
	scrollbar-width: none;
	/* for Firefox */
	overflow-y: scroll;

	&::-webkit-scrollbar {
		display: none;
		/* for Chrome, Safari, and Opera */
	}
}

.remove-item-btn:after {
	content: "\ea47";
	font-family: "sallaicons" !important;
	// speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.cart-thumb {
	position: fixed;
	z-index: 30;
	transition: all 0.3s cubic-bezier(0.2, 1, 0.3, 1);
}


/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none;
	/* IE and Edge */
	scrollbar-width: none;
	/* Firefox */
}

// hide chat tags
body {

	&.fslightbox-open,
	&.modal-open {

		#tidio-chat-iframe,
		.fb_reset,
		[id^=gb-widget] {
			display: none !important;
		}
	}

	// &.modal-open {
	//   #tidio-chat-iframe, .fb_reset, [id^=gb-widget] {
	//     display: none !important;
	//   }
	// }
}


// Loading Btn state
.loader{
  &:before{
    content: '';
    opacity: 1;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid;
    border-top-color: var(--main-color);
    border-bottom-color: #eee;
    border-left-color: var(--main-color);
    border-right-color: #eee;
    animation: loader 1s ease-in-out infinite;
  }

  &--small{
    &:before{
      width: 16px;
      height: 16px;
    }
  }
}

.btn{
  .loader{
    width: 0;
    opacity: 0;
    height: 16px;
    transform: scale(0);
    transition: 0.3s;
    margin: 0 5px;
  }

  &--is-loading{
    .loader{
      width: 16px;
      opacity: 1;
      transform: scale(1);
    }
  } 
}

@keyframes loader {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}