.site-header-container {
	// Fixed Header -------------------------------
	&.animated {
		.site-header {
			transition: transform 0.5s, -webkit-transform 0.5s, opacity 0.4s;
		}
	}

	&.fixed-pinned {
		.site-header {
			position: fixed;
			top: 0;
			$right: 0;
			$left: 0;
			width: 100%;
			background-color: #fff;
			z-index: 29;
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
			transform: translate3d(0, -100%, 0);

      .dark &{
        background-color: #374151;
      }
		}

		.theme-logo {
			img {
				max-height: 40px;
			}

			h4 {
				line-height: 1;
			}
		}

    .main-menu > li > a{
      padding-top: 20px;
      padding-bottom: 20px;
    }
	}

	&.fixed-header {
		.site-header {
			transform: translate3d(0, 0, 0);
		}
	}
}
