
[data-src]{
  transition: opacity .5s ease-in, transform 0.3s;

  &.loaded {
    animation: lazy_loaded_anime 1s;
  }
}

// .lazy-load:not([style*='background-image']),
.lazy-load-bg:not(.loaded),
.lazy-load[src*="s-empty"]{
  opacity: 1;
  background-image: linear-gradient(to left, #f2f3f4 0%, #edeef1 20%, #f2f3f4 40%, #f2f3f4 100%);
  background-repeat: no-repeat;
  background-color: #f2f3f4;
  background-size: 450px 700px;
  animation: lazy_loading_anime 1s infinite linear forwards;

  .dark &{
    background-image: linear-gradient(to left, #050606 0%, #161619 20%, #050606 40%, #050606 100%);
    background-color: #050606;
	}

  .banner--fixed &{
    max-height: 200px;
  }

  .wide-placeholder &{
    animation: wide-lazy-loading-anime 1s infinite linear forwards;
  }
}

@keyframes lazy_loading_anime {
  from {
    background-position: -400px 0;
  }
  to {
    background-position: 200px 0;
  }
}

@keyframes wide-lazy-loading-anime {
  from {
    background-position: -400px 0;
  }
  
  to {
    background-position: 700px 0;
  }
}

@keyframes lazy_loaded_anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}