// divide
.menu-divide {
    li {
        position: relative;
        &:not(:last-child) {
            &:after {
                content: "";
                display: block;
                width: 1px;
                height: 35%;
                background: $infinte-color;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
            }
        }
    }
}

// css dropMenu
.main-menu {
    #offers a {
        color: #ff6767;
    }

    > li {
        > a {
            padding-top: 34px;
            padding-bottom: 34px;
        }
        > ul {
            box-shadow: inset 0px 0px 30px #2b2d340d;
        }
    }
    li {
        position: relative;
        a:hover {
            color: var(--main-color);
            text-decoration: none;
        }
        ul {
            transition: transform 0.3s, opacity 0.3s;
            top: $header-height;
            opacity: 0;
            visibility: hidden;
            position: absolute;
            min-width: 250px;
            background-color: #fff;
            box-shadow: 0 4px 8px rgba(161, 121, 121, 0.07);
            z-index: 22;
            transform: translateY(-10px);

            li {
                transition: background-color 0.3s;
                position: relative;
                &:hover {
                    background-color: #f3f1f1;
                }

                ul {
                    top: 0;
                    right: 100%;
                    opacity: 0;
                    transform: translateY(-10px);
                }
            }
        }

        &:hover {
            > ul {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
            }
        }
    }
}

// mobile menu
.mobile-menu {
    display: none;
}
.mm-ocd-opened {
    .mobile-menu {
        display: block;
    }
    .close-sm-menu {
        @media (max-width: 480px) {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
            z-index: 99999999;
        }
    }
}

.mm-spn.mm-spn--light {
    color: #000;
    background: #ffffff;
}

.mm-spn {
    &.mm-spn--navbar:before {
        transform: rotate(135deg) translateY(77%);
        right: var(--mm-spn-item-indent);
        left: auto;
    }
    li {
        a,
        span {
            padding: 20px;
        }
        &:before {
            width: 6px;
            height: 6px;
            // top: 25px;
            // top: calc(var(--mm-spn-item-height) / 2);
            top: 50%;
            left: 25px;
            left: calc(var(--mm-spn-item-height) / 2);
            right: auto;
            border-bottom: 1px solid;
            border-left: 1px solid;
            border-right: none;
            border-top: none;
        }

        &:after {
            width: 100%;
            border-color: $infinte-color;
        }
    }
}
