// Colors
$main-color: var(--color-main);
$infinte-color: var(--infinte-color);
$main-text-color:  var(--main-text-color);
$main-text-color2: #000000;
$color-main: #414042;
$color-main-d: #272628;
$color-main-l: #676668;
$color-main-reverse: #414042;
$color-text: #7C8082;
$color-text-reverse: #ffffff;
$color-title: #2A3237;
// layout
$header-height: 88px;
// border
$border: 1px solid $infinte-color;
// dir
$direction:'right';
$left-direction: 'left';

$right: 'right';
$left: 'left';

// fonts
// $primary-font:'Poppins', sans-serif;
// $secondary-font:'Rubik', sans-serif;
