@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --infinte-color: #c9c9c9;
    --main-text-color: #231f1e;
    --main-text-color2: #888b98;
    --main-text-color-dark: #2b2d34;

    /* current */
    --main-color: #5cd5c4;
    --color-main: #414042;
    --color-main-d: #272628;
    --color-main-l: #676668;
    --color-main-reverse: #ff6767;
    --color-text: #7c8082;
    --color-text-reverse: #ffffff;
    --color-title: #231f1e;
    --bg-gray: #c6c7ce1a;
    --color-grey: #f5f7f9;
    --color-light-grey: #EEEEEE;
    /* font-size */
    --font-sm: 0.8685714286rem;
    /* font-family: ; */
    --font-main: 'DINNextLTArabic';

    /* plugins */
    --mm-ocd-width: calc(100% - 40px);
}

@layer components {
    /* forms */
    .form-label{
        @apply block text-sm font-medium text-gray-700 mb-2.5 md:mb-0 sm:mt-px;
    }
    .form-input {
        @apply w-full h-10 transition-colors duration-300 focus:ring-transparent focus:border-primary  sm:text-sm border-border-color rounded-md;
    }

    .has-error{
        @apply border-red-700 focus:border-red-500;
    } 
    
    .has-success{
        @apply border-green-500 focus:border-green-600;
    }

    /* buttons */
    .btn{
        @apply  transition duration-300 flex-1 inline-flex justify-center items-center px-6 pb-2.5 pt-2 text-sm font-bold rounded-md hover:opacity-80;
    }

    .btn-default{
        @apply bg-border-color text-gray-text hover:opacity-80 hover:text-text-dark ;
    }

    .btn-danger{
        @apply bg-theme-red text-white hover:opacity-80;
    }

    .btn-primary {
        @apply text-white border border-primary bg-primary ;
    }

    .btn-outline-primary {
        @apply border border-primary text-primary hover:bg-primary  hover:text-reverse;
    }
    
    .btn-outline {
        @apply text-gray-text bg-white  shadow-sm hover:text-text-dark   border border-border-color;
    }
    

    .btn-outline-dark {
        @apply text-dark bg-white hover:shadow-none shadow-sm   border border-border-color;
    }

    /* rounded icon */
    .rounded-icon{
        @apply w-16 h-16 flex justify-center items-center rounded-full text-3xl;
    }
    /* tags */
    .tag{
        @apply  px-4 pt-0.5 pb-1.5 inline-block text-sm rounded-2xl border border-border-color;
    }

    .tag--primary{
        @apply text-primary border-primary;
    }

    .tag--default{
        @apply text-theme-blue border-theme-blue;
    }

    .tag--alert{
        @apply text-theme-red border-theme-red;
    }
}
