
<div class="relative inline-block me-6">
  <button type="button"
          class="inline-flex justify-center w-full rounded-full cursor-pointer px-2.5 py-2 items-center hover:bg-gray-200/20 text-sm font-medium  focus:ring-offset-transparent transition duration-300"
          :class="toggleMenu ? 'btn-is-opened bg-gray-200/20' : 'bg-gray-200/10'"
          id="menu-button" data-modal-trigger="lang-currency-modal">
      <div class="flag iti__flag iti__ar me-1.5 rounded-md"></div> | <span class="ms-2">العربية</span>
  </button> 
</div>

<div class="modal__wrap fixed z-10 inset-0 overflow-y-auto hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true" id="lang-currency-modal">
  <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

    <div class="modal__overlay fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity ease-in duration-200 opacity-0" aria-hidden="true" data-close-modal="lang-currency-modal"></div>

    <!-- This element is to trick the browser into centering the modal contents. -->
    <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

    <div class="modal__body relative inline-block align-bottom bg-white rounded-lg px-4 pt-12 pb-4 text-start overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle max-w-full w-96 sm:p-8 sm:pt-16 ease-in duration-200 opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95">

      <button type="button" class="absolute end-6 top-6 text-gray-400 hover:text-gray-500 transition" data-close-modal="lang-currency-modal">
        <span class="sicon-cancel"></span>
      </button> 

      <form>
        {% component 'header.language-switcher' %}
        {% component 'header.currency-switcher' %}
      </form>
 
      <button type="button" class="mt-5 sm:mt-6 w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-primary text-base font-medium text-white hover:bg-primary-d focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary sm:col-start-2 sm:text-sm" data-close-modal="lang-currency-modal">
        تأكيد
      </button> 
    </div>
  </div>
</div>