body {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  color: var(--main-text-color);
  position: relative;
}

// p {
//   font-size: 16px;
// }

html {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 600;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
  transition: color 0.2s;
}

img {
  max-width: 100%;
  height: auto;
}

// Prevent layout shift for images without explicit dimensions
// Product images - square aspect ratio
.details-slider img:not([width]):not([height]),
.s-product-card-image img:not([width]):not([height]) {
  aspect-ratio: 1 / 1;
}

// Blog images - 16:9 aspect ratio
.post-entry__image img:not([width]):not([height]),
.blog-slider__slide img:not([width]):not([height]) {
  aspect-ratio: 16 / 9;
}

// Avatar/profile images - square
img[class*="avatar"]:not([width]):not([height]),
img[class*="profile"]:not([width]):not([height]),
.s-reviews-testimonial__avatar img:not([width]):not([height]) {
  aspect-ratio: 1 / 1;
}

// Lazy loaded images default to 16:9
img.lazy:not([width]):not([height]):not([class*="avatar"]):not([class*="profile"]) {
  aspect-ratio: 16 / 9;
}

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


h1 {
  @apply text-3xl;
}

h2 {
  @apply text-xl;
}

h3 {
  @apply text-xl;
  line-height: 38px;
}

// h4 {
//   font-size: 22px;
//   line-height: 32px;
// }

// h5 {
//   font-size: 16px;
//   line-height: 24px;
// }

// h6 {
//   font-size: 14px;
//   line-height: 26px;
// }

.f-color {
  color: #FF6767;
}

h5.subtitle {
  font-size: 16px;
  font-weight: 400;
}