.rtl,
[dir="rtl"] {
  .rtl-range-slider {
    transform: rotateY(180deg);
  }

  .rtl-range-numbers {
    flex-direction: row-reverse;
  }

  .form-select, select {
    background-position: left 0.5rem center;
    padding-right: 12px;
  }

  .fix-align {
    transform: translateY(-2px);
    display: inline-block;
  }

  .flatpickr {
    &-months {
      .numInputWrapper {
        .cur-year {
          padding: 0 15px 0 0;
        }
      }
    }
  }
}