{% if next_page %}
    <div class="text-center loading-status-wrapper">
        <div class="loader-status" style="display: none">
            <p class="infinite-scroll-last font-sm color-grey no-m center">{{ trans('common.elements.end_of_content') }}</p>
            <p class="infinite-scroll-error font-sm color-grey no-m center">{{ trans('common.elements.failed_to_load_more') }}</p>
        </div>

        <a href="{{ next_page }}" id="next-page-btn" class="btn btn-primary btn--has-loading  pagination__next px-11 py-2.5 relative inline-flex items-center justify-center">
            <span class="loader loader--small"></span>
            <span class="fix-align transition-transform duration-500 inline-block btn--text pointer-events-none">{{ trans('common.elements.load_more') }}</span>
        </a>
    </div>
{% endif %}