{# Rating #}
<div x-data="{ temp: 0, orig: 0 }"  class="border-t mt-10 pt-8">
    <h2 class="mb-3 text-sm font-bold">{{ trans('pages.rating.rate_products') }}</h2>
    <textarea x-model="$store.orderRating.productsRating[{{item.id}}]['comment']" class="form-input h-20" placeholder="تقييمك للمنتج ..."></textarea>

    <div x-cloak class="flex items-center cursor-pointer mt-3" @click="orig = temp">
        <input x-model="$store.orderRating.productsRating[{{item.id}}]['rating'] = orig" type="number" :value="orig" class="hidden"/>
        {% include 'pages.partials.rating-stars' with {'stars':item.feedback.stars, 'rating_name':'products['~loop.index0~'][rating]'} %}
    </div>
</div>