<p class="text-center text-grey font-small">
    {{ trans('pages.thank_you.error_payment') }}،
    <a href="{{ complaint_url }}"
       target="_blank"
       rel="noopener noreferrer"
       class="font-small">{{trans('pages.thank_you.click_here_to_complain')}}</a>
</p>