<div class="progress-bar progress-bar--primary progress-bar--oval">
    <span>{{trans('pages.products.target')}}</span>
    <div class="list list--horizontal list--auto-width list--s-between mb-10">
        <span>{{ donation.total_price }}</span>
        <span>{{ donation.target_price }}</span>
    </div>
    <div class="progress-bar__bg">
        <span class="progress-bar__progress" style="width: {{ target_percent }}%"></span>
    </div>
    <hr/>
</div>