<div class="product-section">
    <a href="{{ url }}" id="quick_edit" target="_blank" class="btn btn--padded less btn--oval btn--primary font-sm">
        <i class="sicon-edit mr-2"></i>
        {{ trans('pages.products.quick_edit') }}
    </a>
</div>

