{% if products is not empty %}
  <section id="similar-slider" class="mb-8 md:mb-20 container pe-0 lg:px-5 overflow-hidden">
    {% include 'pages.partials.product.slider' with {
      products: products, 
      type: 'similar',
      title: trans('pages.products.similar_products')
      }
    %}
  </section>
{% endif %}