{% if products is not empty %}
    <section class="mb-8 md:mb-20 container pe-0 lg:px-5">
        <div class="swiper similar-products-slider" id="similar-products-slider">
            <div class="pe-5 lg:pe-0">
                <div class="flex justify-between mb-6 sm:mb-8">
                    <h2 class="font-bold text-lg text-gray-500">{{ trans('pages.products.similar_products') }}</h2>
                    <div class="flex items-center">
                        {# <a href="#" class="text-sm font-bold text-primary hover:opacity-80 ms-3">عرض الكل</a> #}

                        <div class="hidden sm:block" dir="rtl">
                            <button aria-label="Slider Right Arrow " c class="slider-prev  focus:outline-none border border-gray text-gray-500 rounded-full w-7 h-7">
                                <i class="text-gray-400 sicon-keyboard_arrow_right"></i>
                            </button>
                            <button aria-label="Slider Left Arrow" class="inline-flex items-center justify-center slider-next focus:outline-none border border-gray text-gray-500 rounded-full w-7 h-7">
                                <i class="text-gray-400  sicon-keyboard_arrow_left"></i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>
            <div class="swiper-wrapper">
                {% for product in products %}
                    <div class="swiper-slide h-auto similar-products__slide w-10/12 sm:w-8/12 md:w-5/12 lg:w-auto">
                        {% include 'pages.partials.product.card' %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endif %}