<div class="mb-4">
    {% for tag in tags %}
        <a href="{{ tag.url }}"
           class="me-2.5 px-3 rounded-large inline-flex items-center text-gray-500 hover:text-primary justify-center text-sm mb-2.5">
            <i class="font-medium sicon-tag me-1.5 text-md"></i>
            <span class="fix-align">{{ tag.name }}</span>
        </a>
    {% endfor %}
</div>