<div class="product-section">
    <div>
        <ul class="list list--horizontal list--tags wrap">
            {% for tag in tags %}
                <li>
                    <a href="{{ tag.url }}" class="btn btn--tag">{{ tag.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


