@font-face {
  font-family: 'Amazon-Ember';
  src: url('lib/amazon_ember/AmazonEmberArabic_Rg.woff2') format('woff2'),
  url('lib/amazon_ember/AmazonEmberArabic_Rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon-Ember-Medium';
  src: url('lib/amazon_ember/AmazonEmberArabic_Rg.woff2') format('woff2'),
  url('lib/amazon_ember/AmazonEmberArabic_Rg.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amazon-Ember-Bold';
  src: url('lib/amazon_ember/AmazonEmberArabic_Bd.woff2') format('woff2'),
  url('lib/amazon_ember/AmazonEmberArabic_Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

[class*=" sicon-"], [class^=sicon-] {
  line-height: unset !important;
}

:root {
  --font-base: 14px;
  --font-sm: 13px;
  --font-xsm: 12px;
  --font-xxsm: 10px;
  --font-lg: 17px;
  --font-xlg: 18px;
  --font-xxlg: 22px;
  --font-xxxlg: 35px;
  --font-line-height: 1.5;
}

body {
  &.font-amazon-ember {
    .checkbox {
      input[type=checkbox],
      input[type=radio] {

        + label {
          &:after {
            top: 2px;
          }
        }
      }

      &--large {
        input[type=checkbox],
        input[type=radio] {
          + label {
            &:after {
              top: 2px;
            }
          }
        }
      }
    }
  }
}