@use "sass:math";
@font-face {
  font-family: 'Apple';
  src: url('lib/apple/AppleGulf-Medium.woff2') format('woff2'),
  url('lib/apple/AppleGulf-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apple-Medium';
  src: url('lib/apple/AppleGulf-Medium.woff2') format('woff2'),
  url('lib/apple/AppleGulf-Medium.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Apple-Bold';
  src: url('lib/apple/AppleGulf-Bold.woff2') format('woff2'),
  url('lib/apple/AppleGulf-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$font-base: 15;

:root {
  --font-base: #{$font-base}px;
  --font-md: #{math.div(16,$font-base)+rem};
  --font-sm: #{math.div(14,$font-base)+rem};
  --font-xsm: #{math.div(12,$font-base)+rem};
  --font-xxsm: #{math.div(10,$font-base)+rem};
  --font-lg: #{math.div(18,$font-base)+rem};
  --font-xlg: #{math.div(20,$font-base)+rem};
  --font-xxlg: #{math.div(23,$font-base)+rem};
  --font-xxxlg: #{math.div(38,$font-base)+rem};
  --font-line-height: 1.4;
}

body {
  &.font-apple {
    .qty {
      &--large {
        @media (max-width: 767px) {
          input {
            line-height: 40px;
          }
          button {
            line-height: 44px;
          }
        }
      }
    }
    .btn {
      &--add-to-cart {
        padding-top: 7px;
        padding-bottom: 4px;
      }
    }
    .product-block--inline {
      .product-block__info {
        .delete-entry {
          .btn {
            padding-top: 2px !important;
          }
        }
      }
    }
  }
}