@font-face {
    font-family: 'DINNextLTArabic-Regular';
    src: url('lib/dinnext/DINNextLTArabic-Regular.woff2') format('woff2'),
    url('lib/dinnext/DINNextLTArabic-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNextLTArabic-Regular-Medium';
    src: url('lib/dinnext/DINNextLTArabic-Regular.woff2') format('woff2'),
    url('lib/dinnext/DINNextLTArabic-Regular.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DINNextLTArabic-Regular-Bold';
    src: url('lib/dinnext/DINNextLTW23-Medium.woff2') format('woff2'),
    url('lib/dinnext/DINNextLTW23-Medium.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-base: 15px;
    --font-sm: 14px;
    --font-xsm: 12px;
    --font-xxsm: 10px;
    --font-lg: 18px;
    --font-xlg: 20px;
    --font-xxlg: 25px;
    --font-xxxlg: 40px;
}

