.tamara-product-widget,
.spotii-wrapper {
  min-height: 100px;
  position: relative;
  // font-family: var(--font-main) !important;
  color: var(--color-text);
  font-size: var(--font-sm);
  line-height: 1.25;
  border: 1px solid var(--color-grey-dark);
  // @include b-radius($b-radius);
  padding: 18px 20px 18px 90px !important;
  background: white;
  @apply rounded-md hover:shadow-default duration-500 transition-shadow;

  .spotii-promo {
    font-size: var(--font-md);
  }

  .spotii-product-widget {
    font-size: var(--font-sm);
    margin-top: 10px;
  }

  span {
    font-family: var(--font-main);
    font-size: var(--font-sm);
    color: var(--color-text);

    &.tamara-logo {
      position: absolute;
      left: 20px;
      top: 18px;
      margin: 0 !important;

      .ltr &{
        right: 20px;
        left: auto;
      }
    }

    &:last-child {
      display: block;
      position: relative;
      margin-top: 8px;
    }
  }
}

.tamara-popup {
  &__wrap {
    overflow: auto !important;
  }
}
