{% extends "layouts.master" %}
{% block content %}
<main id="main">
    <div class="relative  profile-header bg-gradient-to-r from-primary to-theme-blue lg:h-48 overflow-hidden">
        <div class="container relative z-10 flex justify-between h-full items-center">
            <div class="self-start">
                <nav class="w-full py-5">
                    <ol class="list-reset flex items-center text-sm  text-reverse ">
                        <li><a href="#" class="fix-align text-primary  text-reverse ">الرئيسية</a></li>
                        <li><i class="sicon-keyboard_arrow_left mx-2"></i></li>
                        <li><span class="fix-align">الإلكترونيات</span></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <div class="container mb-24">
        <div class="flex items-start flex-col lg:flex-row ">

            {# ----- Sidebar ---- #}
            {% include 'pages.partials.customer.sidebar' %}

            <div class="main-content w-full flex-1 pt-10 ">
                <h1 class="font-bold text-lg text-center  md:text-start mb-5">الأمنيات</h1>
                <div class="space-y-5 mb-10">
                    <div class='product-entry rounded-md p-5 bg-white h-full transition duration-500 justify-between overflow-hidden flex flex-col md:flex-row'>
                        <div class="flex items-center">
                            <a href="#"
                               class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                <img class="h-full w-full object-cover" src="../images/products/product-3.jpg" alt="product image" />
                            </a>
                            <div class="flex-1 ps-5">
                                <div class="flex flex-col justify-start items-baseline">
                                    <h3 class="text-sm text-title-color leading-6 mb-1.5">
                                        <a href="#">وحدات تحكم متوافق مع بلاي ستيشن 3 متوافقة مع جميع الأجهزة </a>
                                    </h3>
                                </div>
                                <div class="w-full flex justify-between items-center mb-5 md:mb-0">
                                    <h4 class="text-primary font-bold text-sm">‏10,978.00 ر.س</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between w-full md:w-auto space-s-4">
                            <button class="transition duration-300 w-28 md:w-64 flex-1 border border-primary text-sm font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary hover:text-reverse">
                                اضف للسلة
                            </button>
                            <button class="rounded-icon bg-red-500 text-white w-6 h-6">
                                <i class="sicon-cancel text-base"></i>
                            </button>
                        </div>
                    </div>
                    <div class='product-entry rounded-md p-5 bg-white h-full transition duration-500 justify-between overflow-hidden flex flex-col md:flex-row'>
                        <div class="flex items-center">
                            <a href="#" class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                <img class="h-full w-full object-cover" src="../images/products/product-4.jpg" alt="product image" />
                            </a>
                            <div class="flex-1 ps-5">
                                <div class="flex flex-col justify-start items-baseline">
                                    <h3 class="text-sm text-title-color leading-6 mb-1.5">
                                        <a href="#">وحدات تحكم متوافق مع بلاي ستيشن 3 متوافقة مع جميع الأجهزة </a>
                                    </h3>
                                </div>
                                <div class="w-full flex justify-between items-center mb-5 md:mb-0">
                                    <h4 class="text-primary font-bold text-sm">‏10,978.00 ر.س</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between w-full md:w-auto space-s-4">
                            <button class="transition duration-300 w-28 md:w-64 flex-1 border border-primary  text-sm  font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary  hover:text-reverse">
                                اضف للسلة
                            </button>
                            <button class="rounded-icon bg-red-500 text-white w-6 h-6">
                                <i class="sicon-cancel text-base"></i>
                            </button>
                        </div>
                    </div>
                    <div class='product-entry rounded-md p-5 bg-white h-full transition duration-500 justify-between overflow-hidden flex flex-col md:flex-row'>
                        <div class="flex items-center">
                            <a href="#"
                               class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                <img class="h-full w-full object-cover" src="../images/products/product-1.jpg" alt="product image" />
                            </a>
                            <div class="flex-1 ps-5">
                                <div class="flex flex-col justify-start items-baseline">
                                    <h3 class="text-sm text-title-color leading-6 mb-1.5">
                                        <a href="#"> S وحدات تحكم متوافق مع بلاي ستيشن 3 متوافقة مع جميع الأجهزة </a>
                                    </h3>
                                </div>
                                <div class="w-full flex justify-between items-center mb-5 md:mb-0">
                                    <h4 class="text-primary font-bold text-sm">‏10,978.00 ر.س</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between w-full md:w-auto space-s-4">
                            <button class="transition duration-300 w-28 md:w-64 flex-1 border border-primary text-sm font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary hover:text-reverse">
                                اضف للسلة
                            </button>
                            <button class="rounded-icon bg-red-500 text-white w-6 h-6">
                                <i class="sicon-cancel text-base"></i>
                            </button>
                        </div>
                    </div>
                    <div class='product-entry rounded-md p-5 bg-white h-full transition duration-500 justify-between overflow-hidden flex flex-col md:flex-row'>
                        <div class="flex items-center">
                            <a href="#" class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                <img class="h-full w-full object-cover" src="../images/products/product-2.jpg" alt="product image" />
                            </a>
                            <div class="flex-1 ps-5">
                                <div class="flex flex-col justify-start items-baseline">
                                    <h3 class="text-sm text-title-color leading-6 mb-1.5">
                                        <a href="#">وحدات تحكم متوافق مع بلاي ستيشن 3 متوافقة مع جميع الأجهزة </a>
                                    </h3>
                                </div>
                                <div class="w-full flex justify-between items-center mb-5 md:mb-0">
                                    <h4 class="text-primary font-bold text-sm">‏10,978.00 ر.س</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between w-full md:w-auto space-s-4">
                            <button class="transition duration-300 w-28 md:w-64 flex-1 border border-primary  text-sm  font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary  hover:text-reverse">
                                اضف للسلة
                            </button>
                            <button class="rounded-icon bg-red-500 text-white w-6 h-6">
                                <i class="sicon-cancel text-base"></i>
                            </button>
                        </div>
                    </div>
                    <div class='product-entry rounded-md p-5 bg-white h-full transition duration-500 justify-between overflow-hidden flex flex-col md:flex-row'>
                        <div class="flex items-center">
                            <a href="#" class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                <img class="h-full w-full object-cover " src="../images/products/product-1.jpg" alt="product image" />
                            </a>
                            <div class="flex-1 ps-5">
                                <div class="flex flex-col justify-start items-baseline">
                                    <h3 class="text-sm text-title-color leading-6 mb-1.5">
                                        <a href="#">وحدات تحكم متوافق مع بلاي ستيشن 3 متوافقة مع جميع الأجهزة </a>
                                    </h3>
                                </div>
                                <div class="w-full flex justify-between items-center mb-5 md:mb-0">
                                    <h4 class="text-primary font-bold text-sm">‏10,978.00 ر.س</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between w-full md:w-auto space-s-4">
                            <button class="transition duration-300 w-28 md:w-64 flex-1 border border-primary  text-sm  font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary hover:text-reverse">
                                اضف للسلة
                            </button>
                            <button class="rounded-icon bg-red-500 text-white w-6 h-6">
                                <i class="sicon-cancel text-base"></i>
                            </button>
                        </div>
                    </div>
                    <div class='product-entry rounded-md p-5 bg-white h-full transition duration-500 justify-between overflow-hidden flex flex-col md:flex-row'>
                        <div class="flex items-center">
                            <a href="#"
                               class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                <img class="h-full w-full object-cover " src="../images/products/product-3.jpg" alt="product image" />
                            </a>
                            <div class="flex-1 ps-5">
                                <div class="flex flex-col justify-start items-baseline">
                                    <h3 class="text-sm text-title-color leading-6 mb-1.5">
                                        <a href="#">L وحدات تحكم متوافق مع بلاي ستيشن 3 متوافقة مع جميع الأجهزة </a>
                                    </h3>
                                </div>
                                <div class="w-full flex justify-between items-center mb-5 md:mb-0">
                                    <h4 class="text-primary font-bold text-sm">‏10,978.00 ر.س</h4>
                                </div>
                            </div>
                        </div>
                        <div class="flex items-center justify-between w-full md:w-auto space-s-4">
                            <button class="transition duration-300 w-28 md:w-64 flex-1 border border-primary  text-sm  font-bold text-primary px-3 py-2.5 rounded-md hover:bg-primary  hover:text-reverse">
                                اضف للسلة
                            </button>
                            <button class="rounded-icon bg-red-500 text-white w-6 h-6">
                                <i class="sicon-cancel text-base"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="button" class="btn btn-outline-dark"> عرض المزيد </button>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
{#{% extends "pages.customer.layout" %}#}
{#{% block tab_content %}#}
{#    <div class="tabs active" data-profile-content id="wishlist">#}
{#        {% if wishlist is not empty %}#}
{#            <div class="grid-block products-list-container">#}
{#                {% for item in wishlist %}#}
{#                    {% include 'pages.partials.product.card' with {product:item.product, show_wishlist:true} %}#}
{#                {% endfor %}#}
{#            </div>#}
{#            {% include 'pages.partials.loader-status' with {'nextPageUrl':wishlist.nextPageUrl} %}#}
{#        {% else %}#}
{#            <div class="placeholder-block placeholder-block--no-wishlist">#}
{#                <i class="sicon-heart"></i>#}
{#                <p>#}
{#                    <span>{{ trans('pages.profile.wishlist_placeholder') }}</span>#}
{#                    {{ page_title }}#}
{#                </p>#}
{#            </div>#}
{#        {% endif %}#}
{#    </div>#}
{#{% endblock %}#}

{#{% block scripts %}#}
{#    <script>#}
{#      document.addEventListener( 'DOMContentLoaded', function () {#}
{#        salla.wishlist.event.onRemoved((response, prodId) => {#}
{#            document.querySelector('#wishlist #product_' + prodId).remove();#}
{#            if (!document.querySelector('#wishlist .products-list-container>*')) {#}
{#                window.location.reload();#}
{#            }#}
{#        });#}
{#      })#}
{#    </script>#}
{#{% endblock %}#}