{#
| Variable         | Type       | Description                                                         |
|------------------|------------|---------------------------------------------------------------------|
| page             | object     |                                                                     |
| page.title       | string     | *could be html                                                      |
| page.slug        | string     | ex: "cat.show"                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
    {# ======================== Landing Page ======================== #}
    {# <div class="landing-page">
        <header>
            <div class="header-content container">
                <img src="{{ store.logo }}" alt="logo" class="logo">
                <div class="header-content-inner">
                    <h1> خصومات حصرية لا مثيل لها في مزدانة!</h1>
                    <p>كما وعدناكم بخصومات اسبوعية، نقدم لكم أكثر المنتجات مبيعا بخصم لم يسبق ان حدث في مزدانة، ولاكن بكميات محدودة جدا، اذا انتهى العرض انتظرنا الإسبوع القادم بعروض جديدة بكميات محدودة جدا، اذا انتهى العرض انتظرنا الإسبوع القادم بعروض جديدة </p>
                </div>
                <div class="header-content-offer">
                    <p> خصم 50%</p>
                    <h3>المتبقي من العرض</h3>
                    <ul id="countdown_id" class="timer countdown-timer mt-30" data-dunixtime="2023-08-10 00:00:00"></ul>
                </div>
            </div>
        </header>
        <section class="s-block container overflow-hidden">
            <salla-slider  
                type="carousel"
                block-title="المنتجات المعروضة"
                id="landing-page-slider">
                <div slot="items">
                    
                        <div class="slide--one-fourth">
                            {% include 'pages.partials.product.card' with { product: {
                                "id":464867552,
                                "name":"test bug cond fields",
                                "url":"https:\/\/salla.design\/ar\/dev-db68v6oemahrmbhb\/test-bug-cond-fields\/p464867552",
                                "price":"20",
                                "regular_price":"20",
                                "image":{
                                   "url":"https:\/\/cdn.salla.sa\/zBnEG\/IY7nS1uvqtDxzDWZmq1Wwkyf65YSH6lwyugpNhQv.png",
                                   "alt":"test bug cond fields"
                                },
                                "quantity":20,
                                "is_out_of_stock":false,
                                "is_available":true,
                                "currency_for_payment":"SAR",
                                "add_to_cart_label":"إضافة للسلة",
                             }}
                             %}
                        </div>  
                      
                        <div class="slide--one-fourth">
                            {% include 'pages.partials.product.card' with { product: {
                                "id":464867552,
                                "name":"test bug cond fields",
                                "url":"https:\/\/salla.design\/ar\/dev-db68v6oemahrmbhb\/test-bug-cond-fields\/p464867552",
                                "price":"20",
                                "regular_price":"20",
                                "image":{
                                   "url":"https://cdn.salla.sa/zBnEG/nA3jpj3KaF640yFnpmFH65o1yfLCjRHglIjS0EQR.jpg",
                                   "alt":"test bug cond fields"
                                },
                                "quantity":20,
                                "is_out_of_stock":false,
                                "is_available":true,
                                "currency_for_payment":"SAR",
                                "add_to_cart_label":"إضافة للسلة",
                             }}
                             %}
                        </div> 
                         <div class="slide--one-fourth">
                            {% include 'pages.partials.product.card' with { product: {
                                "id":464867552,
                                "name":"test bug cond fields",
                                "url":"https:\/\/salla.design\/ar\/dev-db68v6oemahrmbhb\/test-bug-cond-fields\/p464867552",
                                "price":"20",
                                "regular_price":"20",
                                "image":{
                                   "url":"https://cdn.salla.sa/zBnEG/2u4ltSSo6LBvgrtfDkOauSikJKfwNvBi7nUqRc6w.jpg",
                                   "alt":"test bug cond fields"
                                },
                                "quantity":20,
                                "is_out_of_stock":false,
                                "is_available":true,
                                "currency_for_payment":"SAR",
                                "add_to_cart_label":"إضافة للسلة",
                             }}
                             %}
                        </div>  
                        <div class="slide--one-fourth">
                            {% include 'pages.partials.product.card' with { product: {
                                "id":464867552,
                                "name":"test bug cond fields",
                                "url":"https:\/\/salla.design\/ar\/dev-db68v6oemahrmbhb\/test-bug-cond-fields\/p464867552",
                                "price":"20",
                                "regular_price":"20",
                                "image":{
                                   "url":"https://cdn.salla.sa/zBnEG/7w49NR39YnepqGwLJGXHQQhgZuGgRAiFPNmG5jfj.jpg",
                                   "alt":"test bug cond fields"
                                },
                                "quantity":20,
                                "is_out_of_stock":false,
                                "is_available":true,
                                "currency_for_payment":"SAR",
                                "add_to_cart_label":"إضافة للسلة",
                             }}
                             %}
                        </div>   
                         <div class="slide--one-fourth">
                            {% include 'pages.partials.product.card' with { product: {
                                "id":464867552,
                                "name":"test bug cond fields",
                                "url":"https:\/\/salla.design\/ar\/dev-db68v6oemahrmbhb\/test-bug-cond-fields\/p464867552",
                                "price":"20",
                                "regular_price":"20",
                                "image":{
                                   "url":"https://cdn.salla.sa/zBnEG/7w49NR39YnepqGwLJGXHQQhgZuGgRAiFPNmG5jfj.jpg",
                                   "alt":"test bug cond fields"
                                },
                                "quantity":20,
                                "is_out_of_stock":false,
                                "is_available":true,
                                "currency_for_payment":"SAR",
                                "add_to_cart_label":"إضافة للسلة",
                             }}
                             %}
                        </div>
               
                </div>
            </salla-slider>
            <div class="text-center mt-6">
                <salla-button color="primary" class="btn--rounded-full !text-white">عرض الكل الآن</salla-button>
            </div>
        </section>    
        <section  class="s-block container overflow-hidden">
            {% include 'components.home.store-features' with {
                items:[
                    {icon:'sicon-shipping', title:'شحن مجاني', text:'مدفوعات آمنة أقساط تصل إلى 12 شهرًا'},
                    {icon:'sicon-sync', title:'إسترجاع خلال 14 يومًا', text:'مدفوعات آمنة أقساط تصل إلى 12 شهرًا'},
                    {icon:'sicon-secure-credit-card-2', title:'مدفوعات آمنة', text:'مدفوعات آمنة أقساط تصل إلى 12 شهرًا'},
                ]
                } %}
          </section>   
           <section class="s-block overflow-hidden bg-gray-50">
                <div class="container">
                    {% component 'home.testimonials' %}
                </div>
          </section>
    </div> #}
    {# ======================== Not Found ======================== #}
    {# <div class="landing-page notfound">
        <header>
            <div class="header-content container">
                <img src="{{ store.logo }}" alt="logo" class="logo">
                <div class="header-content-inner">
                    <h1> هذه الصفحة لم تعد موجودة</h1>
                    <div class="text-center mt-6">
                        <salla-button color="primary" class="btn--rounded-full !text-white">العودة للمتجر</salla-button>
                    </div>
                </div>
            </div>
        </header>
    </div>   #}
    {# ======================== Expired ======================== #}
    <div class="landing-page expired">
        <header>
            <div class="header-content container">
                <img src="{{ store.logo }}" alt="logo" class="logo">
                <div class="header-content-inner">
                <h1> انتهت صلاحية العرض</h1>
                <p>نأسف لكن مدة صلاحية هذا العرض قد انتهت، يمكنك تصفح بقية منتجاتنا ستجد الكثير من المنتجات المميزة والعروض الاخرى.</p>
                <div class="text-center mt-6">
                    <salla-button color="primary" class="btn--rounded-full !text-white">العودة للمتجر</salla-button>
                </div>
                </div>
            </div>
        </header>
    </div>
    {# {% component home %} #}
{% endblock %}
{% block scripts %}
    <script defer src="{{ 'home.js' | asset }}"></script>
{% endblock %}