
<div class="relative profile-header bg-gradient-to-r from-primary to-primary-d lg:h-48 overflow-hidden">
    <div class="container relative flex justify-between h-full items-center">
        <div class="self-start">
            <nav class="w-full py-5 lg:mt-2.5">
                {% component 'header.breadcrumbs' with{is_dark:true} %}
            </nav>
        </div>
    </div>
</div>