<nav aria-label="Sidebar"
        {# TODO:: @Adel #enhance - reduce using sidebar class --- #}
     class="hidden lg:block flex-shrink-0 lg:sticky top-24 -mt-28 shadow-default rounded-md bg-white w-full lg:w-72 lg:me-8 pt-8 pb-11 sidebar space-y-px">
    <div class="text-center mb-9">
        <div class="text-center mb-9">
            <div class="h-20 w-20 m-auto avatar-wrap bg-color-gray rounded-full">
                {% if is_current_url('profile') %}
                    <input type="file"
                           class="filepond profile-img file-pond--circular"
                           name="filepond"
                           id="profile-img"
                           data-default="{{ user.avatar }}"
                           data-max-file-size="3MB"/>
                {% else %}
                    <img src="{{ user.avatar }}" class="rounded-full" alt="">
                {% endif %}
            </div>
        </div>
    </div>
    {% component 'header.user-menu' with{is_profile_sidebar:true} %}
</nav>