{% for star in 1..5 %}
    <button class="btn btn--transparent s-rating-btn-star s-rating-btn-star-small px-1 text-lg text-gray-400 btn--star sicon-star2 {{ star<=stars?'selected':'' }}"
            disabled></button>
{% endfor %}