{#
| Variable   | Type         | Description                                                |
|------------|--------------|------------------------------------------------------------|
| page       | object       |                                                            |
| page.title | string       |                                                            |
| page.slug  | string       |                                                            |
| brands     | Collection[] | Brands grouped by char, ex:{b:[{'name':'brand1',...},...]} |
#}
{% extends "layouts.master" %}
{% block content %}
	<div
		class="container mb-20">
		{# add breadcumbs container in pages to make a space in case breadcrumbs is off #}
		<nav class="breadcrumbs w-full py-5">
			<salla-breadcrumb></salla-breadcrumb>
		</nav>

		<salla-reviews-page></salla-reviews-page>

	</div>
{% endblock %}

