{#
| Variable        | Type       | Description                    |
|-----------------|------------|--------------------------------|
| products        | Products[] |                                |
| position        | Int        | Sorting number start from zero |
#}
<section class="s-block s-block--latest-products container mt-8">
    <div class="mb-6 sm:mb-8">
        <h2 class="s-block__title">{{ trans('blocks.home.latest_products') }}</h2>
    </div>
    {% if products|length %}
        <salla-infinite-scroll class="grid grid-cols-1 lg:grid-cols-4 gap-6 lg:gap-8 mb-6"
                               next-page="{{ products.next_page }}"  autoload>
            {% for product in products %}
                {% include 'pages.partials.product.card' %}
            {% endfor %}
        </salla-infinite-scroll>
    {% endif %}
</section>