{#
| Variable           | Type                      | Description                         |
|--------------------|---------------------------|-------------------------------------|
| limit              | string                    | Maximum number of the testimonials  |
| items[]            | Testimonial[]  *Paginator |                                     |
| items[].id         | int                       |                                     |
| items[].avatar     | string                    |                                     |
| items[].name       | string                    |                                     |
| items[].has_order  | bool                      |                                     |
| items[].created_at | Date *Carbon              |                                     |
| items[].stars      | int                       |                                     |
| items[].content    | string                    |                                     |
| type               | string                    | `default:store` all, product, store |
| position           | string                    | Sorting number start from zero      |
#}

<section class="s-block s-block--testimonials container overflow-hidden">
    <salla-reviews display-all-link="{{ display_all_url }}"></salla-reviews>
</section> 
