{#
| Variable    | Type   | Description                                                      |
| youtube_id  | string |                                                                  |
| position    | Int    | Sorting number start from zero                                   |
#}
<section class="s-block s-block--video mt-16">
  <div class="container">
    <div class="videoWrapper">
      <lite-youtube videoid="{{ youtube_id }}" params="rel=0"></lite-youtube>
    </div>
  </div>
</section>
