{#
| Variable   | Type          | Description                                             |
|------------|---------------|---------------------------------------------------------|
| option     | ProductOption | @see views/pages/partials/product/options.twig          |
| attirubtes | string        | ex: ` id="field_1819067185_562106943"  required `       |
| disabled   | bool          |                                                         |
| required   | bool          |                                                         |
| value      | ?string       |                                                         |
| product    | Product       |                                                         |
#}
<div id="cart_donating_form">
    {% component 'product.donation-progress-bar' with {product:product} %}
    {% if product.can_donate %}
      <div class="group-form border-t border-gray-100 pt-5 mt-5 only:mt-0 only:pt-0 only:border-none sm:space-s-4 mb-2.5 sm:mb-0 sm:flex justify-between items-center">
          <label for="donating-amount" class="flex-1 block text-sm mb-2.5 "> {{ trans('pages.products.donation_amount') }} <span class="text-red-500">*</span>
          </label>
          <div class="relative flex-1">
              <input placeholder="{{ trans('pages.products.donation_placeholder') }}" type="text"
                      id="donating-amount" 
                      name="donating_amount"
                      class="form-control _parseArabicNumbers form-input w-full"
                      data-digits
                      value="{{ is_page('cart')?product.price:'' }}"/>
              <span class="input-group-addon absolute top-2 end-4 text-gray-400">
                {{ user.currency.symbol }}
              </span>
          </div>
      </div>
    {% endif %} 
</div>
