{#
| Variable   | Type          | Description                                             |
|------------|---------------|---------------------------------------------------------|
| option     | ProductOption | @see views/pages/partials/product/options.twig          |
#}
<div class="product-section splitter"></div>