{#
| Variable   | Type          | Description                                             |
|------------|---------------|---------------------------------------------------------|
| option     | ProductOption | @see views/pages/partials/product/options.twig          |
#}
<div class="product-section splitter border-b border-2 mb-5"></div>