<section class="container relative overflow-hidden bg-white p-5 text-center rounded-md mb-5">
    <div x-data="{openModal: false}">
        <button @click="openModal = true; animatedTitles();" type="button" class="btn btn-primary">
            انقر لعرض العروض الخاصة
        </button>
        <div x-cloak x-show="openModal" class="fixed z-50 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">

                <div x-show="openModal" x-transition:enter="transition ease-out duration-300"
                     x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                     x-transition:leave="transition ease-in duration-200"
                     x-transition:leave-start="opacity-100 "
                     x-transition:leave-end="opacity-0"
                     class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
                     aria-hidden="true"></div>

                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                <div x-show="openModal" @click.away="openModal = false"
                     x-transition:enter="transition ease-out duration-300"
                     x-transition:enter-start="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                     x-transition:enter-end="opacity-100 translate-y-0 sm:scale-100"
                     x-transition:leave="transition ease-in duration-200"
                     x-transition:leave-start="opacity-100 translate-y-0 sm:scale-100"
                     x-transition:leave-end="opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
                     class="inline-block align-bottom bg-white rounded-md text-start overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-3xl sm:w-11/12">
                    <div>
                        <button @click="openModal = false"
                                class="close-modal text-gray-400 w-6 h-6 focus:outline-none text-2xl absolute z-20 top-5 end-5">
                            <i class="sicon-cancel"></i>
                        </button>

                        <div class="bg-gray-bg px-5 md:px-10 pt-8 pb-10">
                            <b class="offer-item opacity-0 block text-red-400 text-lg">عرض خاص</b>

                            <h3 class="offer-item opacity-0 text-2xl leading-6 font-bold mb-8" id="modal-title">
                                اشتري قطعتين من هذا المنتج
                            </h3>
                            <div>
                                <div class='product-entry rounded-md h-full transition duration-500
                                    justify-between
                                    overflow-hidden
                                    flex
                                    flex-col
                                    md:flex-row space-s-24'>

                                    <div class="flex items-center">
                                        <a href="#"
                                           class='product-entry__image relative overflow-hidden w-20 h-16 md:w-24 md:h-20 rounded-md'>
                                            <img class="h-full w-full object-cover "
                                                 src="../../../../images/products/product-3.jpg"
                                                 alt="product image"/>
                                        </a>

                                        <div class="flex-1 ps-5">
                                            <div class="flex flex-col justify-start items-baseline">

                                                <h3 class="text-sm font-bold text-title-color leading-6 mb-1.5">
                                                    <a href="#">وحدات تحكم متوافق مع بلاي ستيشن 3</a>
                                                </h3>
                                                <p class="text-sm text-gray-400">متوافقة مع جميع الأجهزة</p>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex flex-col md:flex-row md:items-center md:justify-between w-full md:w-auto md:space-s-8">


                                        <h4 class="text-primary font-bold text-sm">‏10,978.00 ر.س</h4>


                                        <button
                                                class="transition mt-4 md:mt-0 w-36 duration-300  flex-1 border border-primary  text-sm  font-bold text-reverse bg-primary md:px-3 py-2.5 rounded-md hover:bg-primary  hover:text-reverse">
                                            اضف
                                            للسلة
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="ps-5 md:px-10 py-8">
                            <h4 class="text-base mb-5 pe-5">و احصل <b>مجانآ</b> على احد المنتجات التالية</h4>
                            {% if offer.is_given_categories %}
                                <div class="offers-block bg-grey mt-50">
                                    <ul class="list list--horizontal list--auto-width wrap">
                                        {% for category in categories %}
                                            <li class="mr-1 mb-1">
                                                <a href="{{ category.url }}" class="btn btn--grey btn--tag btn--oval ">{{ category.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                <div class="swiper offer-slider mb-8">
                                    <div class="swiper-wrapper">
                                        {% for product in offer.given_products %}
                                            <div class="swiper-slide offer-slider__slide w-10/12 md:w-auto">
                                                {% include 'pages.partials.product.card' with {block_classes:'product-block--small'} %}
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="hidden md:block">
                                        <button class="offer-prev swiper-button-prev"></button>
                                        <button class="offer-next swiper-button-next"></button>
                                    </div>
                                </div>
                            {% endif %}

                            <div class="flex flex-col md:flex-row justify-between text-sm text-gray-400">
                                <p class="mb-5 md:mb-0">العرض ساري حتى 22/4/2020م</p>
                                <div class="relative flex items-center me-5 md:me-0">
                                    <input id="dontRem" name="option2" type="checkbox"
                                           class="focus:ring-transparent h-6 w-6 text-primary border-border-color rounded-md">
                                    <label for="dontRem" class="ms-2 text-sm font-medium ">{{ trans('pages.offer.continue_shopping') }}اخرى</label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        function animatedTitles() {
            anime({
                targets: '.offer-item',
                opacity: [0, 1],
                duration: 1900,
                translateX: [40, 0],
                delay: function (el, i) {
                    return i * 200;
                },
            })
        }

        document.addEventListener('DOMContentLoaded', function () {
            const swiper = new Swiper('.offer-slider', {


                spaceBetween: 20,
                slidesPerView: "auto",


                navigation: {
                    nextEl: '.offer-next',
                    prevEl: '.offer-prev',
                },

                breakpoints: {

                    640: {
                        slidesPerView: 2,
                    },

                    768: {
                        slidesPerView: 3,
                    },
                }

            });

        });
    </script>
</section>