// Dropdown toggler
.dropdown-toggler {
  &:before {
    position: fixed;
    width: 100vw;
    height: 100vh;
    content: "";
    background: rgba(113, 113, 122, 0.75);
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: 0.3s;
    z-index: 9;
  }

  &.is-opened {
    .dropdown__menu {
      opacity: 1;
      transform: translateY(0) scaleY(1);
      visibility: visible;
    }
  }

  @media (max-width: 1024px) {
    .dropdown__menu {
      position: fixed;
      top: 50vh;
      left: 50vw !important;
      opacity: 0;
      transform-origin: 50%;
      transition-duration: 0.45s;
      transform: translateX(-50%) translateY(-50%) scale(.95);
    }

    &.is-opened {
      .dropdown__menu {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
      }

      &:before {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
    }
  }
}

@media (max-width: 1024px) {
  .dropdown--is-opened {
    overflow: hidden;
  }
}
