.swiper{
  &.slider-layout{
    @apply -mx-5 lg:-mx-3.75 lg:w-[calc(100%+30px)] pe-12 sm:pe-16 lg:pe-0 ps-3 lg:ps-0;
  }

  .slide--one-fourth{
    @apply h-auto w-full sm:w-1/2 md:w-4/12 lg:w-1/4 px-2 lg:px-3.75;
  }

  .slide--one-sixth{
    @apply w-1/2 sm:w-2/6 md:w-1/4 lg:w-1/6 px-2 lg:px-3.75;
  }
}

.home-slider {
  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:not(.loaded) {
      .overlay {
        opacity: 0;
      }
    }
  }

  // block slider //////////////////
  &.photos-slider {
    .home-slider__slide {
      width: 80%;
      border-radius: 5px;
      overflow: hidden;
    }

    // pagination
    .swiper-pagination-bullet {
      width: 20px;
      border-radius: 5px;
      background: #fff;
      opacity: 0.3;

      &-active {
        opacity: 1;
        background-color: $main-color;
      }
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 30px;
    }
  }
}

.swiper:not(.swiper-initialized) {
  .swiper-button {
    opacity: 0;
  }
}

// testimonials-slider
.testimonials-slider {
  &__slide {

  }

  .swiper-slide-prev,
  .swiper-slide-next {
    opacity: 0.6;

    .testimonial {
      width: 216px;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 34px !important;

      &__text {
        flex: 0;
      }

      &__avatar {
        margin: 0;
        margin-bottom: 20px;
        // margin-top: 20px;
      }

      &__icon {
        top: 14px;
        left: 90px;
        font-size: 38px;
      }

      &__border,
      &__rating {
        display: none;
      }
    }

    p {
      display: none;
    }
  }

  .testimonial {
    height: 100%;
  }
}

.best-products-slider {
  .swiper-wrapper {
    @media screen and (min-width: 768px) {
      height: 510px;

      .swiper-slide {
        height: calc((100% - 30px) / 2);
      }
    }
  }
}

//general
.swiper-button-disabled {
  opacity: 0.5;
}