{% for contact in contacts %}
    <li>
        <a href="{{ contact.url }}">
            <i class="{{ contact.icon }}"></i>
            <span class="text-unicode">{{ contact.value }}</span>
        </a>
    </li>
{% endfor %}
