<footer id="footer" class="relative">
	<div class="bg-text-dark text-reverse">
		<div aria-label="footer" class="py-11 lg:pt-28 lg:pb-40">
			<div class="container lg:grid grid-cols-6 gap-6">
				<div class="lg:col-span-2 pe-20">
					<a href="{{ link('/') }}" class="flex mb-6">
						<img src="{{ store.logo }}" alt="" class="img-fluid w-10 b-logo">
						<h1 class="text-2xl text-primary font-bold mx-1.5 fix-align">{{store.name}}</h1>
					</a>
					{% if store.description %}
						<p class="max-w-sm leading-6 mb-6">
							{{ store.description|raw }}
						</p>
					{% endif %}
					{% component 'footer.social' %}
				</div>
				{% component 'footer.pages' %}
				{% component 'footer.contacts' %}
				{% component 'footer.mobile-apps' %}

                {# vat #}
                 <div class="flex  space-s-2 items-end">
                    <a data-fslightbox="gallery" href="https://assets.salla.cloud/themes/default/assets/images/tax.png?v=v1.4.161">
                        <img src="https://assets.salla.cloud/themes/default/assets/images/tax.png?v=v1.4.161" class="w-10">
                    </a>
                    <div>
                        <p class="text-sm text-text-grey mb-1">الرقم الضريبي</p>
                        <b class="text-sm">VAT-875428595458</b>
                    </div>
                </div>
			</div>
		</div>
	</div>
	<div class="md:flex items-center justify-between py-2  lg:px-0 container text-center border-border-dark border-dashed">
		{% component 'footer.copyright' %}
		{% component 'footer.payment-methods' %}
	</div>
</footer>
