<ul class="list list--horizontal list--auto-width app-links">
      {% for app in apps %}
    <li>
        <a href="{{ app.url }}" rel="noreferrer" target="_blank">
            <img src="https://assets.salla.cloud/themes/default/assets/images/{{app.image }}" alt="{{ app.name }}"/>
        </a>
    </li>
    {% endfor %}
</ul> 


