<ul class="flex justify-center items-center">
    {% for method in payment_methods %}
        <li class="w-20"><img class="object-contain" src="{{ asset('images/payment/'~ method ~'_mini.png') }}" alt="{{ method }}"></li>
    {% endfor %}
    {% if store.social.maroof %}
        <li class="w-20">
{#            <a href="{{ store.social.maroof }}" target="_blank" rel="noreferrer">#}
            <img class="object-contain" src="{{ asset('images/maroof-footer.png') }}" alt="maroof">
{#            </a>#}
        </li>
    {% endif %}
</ul>