<ul class="flex">
    {% for link in social_links %}
        <li class="me-2.5">
            <a href="{{ link.url }}" rel="noopener" target="_blank" title="YouTube" aria-label="{{ link.name }}"
               class="border text-reverse rounded-full w-8 h-8 justify-center flex items-center hover:text-primary transition duration-300 text-sm">
                <i class="sicon-{{ link.type }}"></i>
            </a>
        </li>
    {% endfor %}
</ul>