<ul class="footer-list footer-list--row footer-list--social-links">
    {% for link in social_links %}
        <li>
            <a href="{{ link.url }}" target="_blank" rel="noreferrer" aria-label="{{ link.name }}">
                <i class="sicon-{{ link.type }}"></i>
            </a>
        </li>
    {% endfor %}
</ul>