{#
| Variable            | Type   | Description                                                        | @see |
|---------------------|--------|--------------------------------------------------------------------|------|
| social_links        | Array  | List of active social links                                        |      |
| social_links[].name | String |                                                                    |      |
| social_links[].type | String | instagram, twitter, snapchat, tiktok, youtube, facebook, pinterest |      |
| social_links[].icon | String | Css class                                                          |      |
| social_links[].url  | String |                                                                    |      |
#}
<ul class="flex mb-6">
    {% for link in social_links %}
        <li class="me-2.5">
            <a href="{{ link.url }}" rel="noopener" target="_blank" title="YouTube" aria-label="{{ link.name }}"
               class="border text-reverse rounded-full w-8 h-8 justify-center flex items-center hover:text-primary hover:border-primary transition duration-300 text-sm">
                <i class="sicon-{{ link.type }}"></i>
            </a>
        </li>
    {% endfor %}
</ul>