.color-picker {
  padding-left: 2rem !important;
  border: 1px solid #eee;
  &:after {
    content: '\e96d';
    font-family: 'sallaicons';
    font-size: 15px;
    color: #585858;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
  }

  &__box {
    width: 36px;
    height: 32px;
  }

  .picker_wrapper {
    .picker_alpha .picker_selector {
      right: -2px;
      transform: none !important;
    }
    .picker_done {
      display: none !important;
    }
  }

}