.color-picker {
  display: inline-block;
  padding: 10px 10px 10px 30px;
  border: 1px solid #eee;
  background-color: #fff;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  &:after {
    content: '\e96d';
    font-family: 'sallaicons';
    font-size: 15px;
    color: #585858;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 7px;
  }

  &__box {
    display: block;
    width: 36px;
    height: 32px;
    background: #000;
    border-radius: 2px;
  }

  .picker_wrapper {
    .picker_alpha .picker_selector {
      right: -2px;
      transform: none !important;
    }
    .picker_done {
      display: none !important;
    }
  }

}