// Color Picker Container Opener
.sp {
  &-replacer {
    padding: 10px !important;
    border: 1px solid #eee !important;
    background-color: #fff !important;
    border-radius: 2px;
     
    &:hover {
      border-color: #c4c4c4 !important;
    }

    .sp-preview {
      width: 36px;
      height: 32px;
      float: right;
      margin: 0 0 0 10px;
      border: 0;
      &-inner {
        border-radius: 2px;
      }
    }
  
    .sp-dd {
      float: right;
      font-size: 0;
      margin: 6px 1px;
  
      &:after {
        content: '\e96d';
        font-family: 'sallaicons';
        font-size: 18px;
        color: #585858;
      }
    }
  }

  &-active {
    border-color: #c4c4c4 !important;
  }
}

// Color Picker Container
.sp-container {
  border-color: #ddd !important;
  box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
  border-radius: 2px !important;

  .sp-picker-container {
    background: #fff;
    .sp-top {
      @apply flex;
    }

    > div {
      float: unset;
      width: 100%;
      margin-top: 10px;
    }

    .sp-input-container {
      .sp-input {
        border: 1px solid #ddd;
        padding: 7px 12px;
        border-radius: 3px;
        outline: 0;
      }
    }
  
    .sp-thumb {
      div > span {
        width: 50%;
        height: 25px;
        display: block;
        float: right;
        span {
          height: 25px; 
          width: 100%; 
          display: block;
        }
      }
    }
  
    .sp-button-container {  
      @apply flex;
      &:before, &:after {
        content: none
      }

      .sp-cancel, .sp-choose {
        padding: 0;
        height: 37px;
        border-radius: 2px !important;
        flex: auto;
        font-size: 14px;
      }

      .sp-cancel {
        border: 1px solid #ddd;
        color: #333 !important;
        background-color: #fcfcfc;
        margin: 0 0 0 10px;
        text-align: center;
        height: 35px;
        line-height: 35px;
        text-decoration: none !important;
         
        &:hover {
          box-shadow: 0 0 0 100px rgb(0 0 0 / 1%) inset
        }
      }

      .sp-choose {
        background-color: var(--color-main);
        background-image: none;
        text-shadow: none;
        color: #fff;
        border: 0;
         
        &:hover {
          opacity: 0.94;
        }
      }
    }
  }
}