.map-wrapper {
  position: relative;

  &--has-search {
    &:after {
      content: '\ef09';
      font-family: 'sallaicons';
      position: absolute;
      left: 25px;
      top: 17px;
      font-size: 14px;
      color: #B5B5B5
    }
  }

  &__map-search {
    background: #fff !important;
    border: 1px solid #eee;
    top: 10px !important;
    left: 10px !important;
    height: 40px;
    border-radius: 2px !important;
    max-width: 80%;
  }

  &__current-button {
    position: absolute !important;
    left: 20px;
    bottom: 20px;
    padding: 0 !important;
    height: 40px;
    width: 40px;
    border-radius: 50% !important;
    background-color: #fff !important;
    text-align: center;
    line-height: 45px !important;
    z-index: 5;
     
    &:hover {
      opacity: 0.94;
    }
    i {
      color: #444444;
      font-size: 18px;
    }
  }
}