.model-viewer {
  width: 100%;
  height: 100%;

  &__poster {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}

#model_viewer_wrapper {
  @apply bg-white border-[1px] rounded-md overflow-hidden;
  .switcher-3d-view {
    @apply absolute top-[20px] rtl:left-[15px] ltr:right-[15px];
  }

  @media (max-width: 767px){
    @apply relative;
    top: unset;
    margin: 0 0 1rem 0;
  }
}