 <div class="{{section == 'testimonials' ? 'pt-10' : 'pt-6'}} text-center grid">
      <a href="{{ link }}" class="display-all-url relative border w-48 h-12 rounded m-auto overflow-hidden" aria-label="show more">
            <div class="relative h-full flex items-center justify-center gap-2.5 text-sm font-bold z-1 transition-all">
              <span class="transition-all">{{ trans('blocks.home.display_all') }}</span>
              <i class="sicon-caret-{{user.language.dir == 'ltr' ? 'right' : 'left' }} transition-all"></i>
            </div>
      </a>
    </div>