.mainnav-container {
  // Fixed Header -------------------------------
  &.animated {
    .mainnav-inner {
      transition: transform 0.5s, -webkit-transform 0.5s, opacity 0.4s;
    }
  }

  &.fixed-pinned {
    .mainnav-inner {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 29;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transform: translate3d(0, -100%, 0);
    }

    .store-logo {
      img {
        max-height: 40px;
      }

      h4 {
        line-height: 1;
      }
    }

    .main-menu > li > a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &.fixed-header {
    .mainnav-inner {
      transform: translate3d(0, 0, 0);
    }
  }
}