// divide
.menu-divide {
	li {
		position: relative;

		&:not(:last-child) {
			&:after {
				content: "";
				display: block;
				width: 1px;
				height: 35%;
				background: rgba(0, 0, 0, 0.075);
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);

				.dark & {
					opacity: 0.4;
				}
			}
		}
	}

	&.contacts-menu {
		li:last-child a {
			[dir="rtl"] & {
				padding-left: 0;
			}

			[dir="ltr"] & {
				padding-right: 0;
			}
		}
	}
}

// css dropMenu
.main-menu {
	#offers a {
		color: #ff6767;
	}

  .fixed-pinned &{
    padding-top: 0;
    padding-bottom: 0;
  }

	li {
		.sub-menu {
			.sub-menu {
				top: 0;
				right: 100%;

				[dir="ltr"] & {
					left: 100%;
					right: auto;
				}
			}

      .btn{
        padding: 8px 10px 10px;
      }
		}

		&:hover {
			> a {
				color: var(--color-main);
			}

			> .sub-menu {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
			}
		}
	}
}

.main-menu li:hover > a,
.btn-is-opened {
	> .sicon-keyboard_arrow_down {
		opacity: 1;
		transform: scaleY(-1);
	}
}

.inset-top-shadow:after,
.main-menu > li > .sub-menu:after,
.main-menu > li > .sub-menu > ul > li:first-child > .sub-menu:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	z-index: 1;
	pointer-events: none;
	// box-shadow: inset 0 10px 10px -10px rgb(43 45 52 / 5%);
	// border-top: 1px solid #f5f5f6;

	.dark & {
		// box-shadow: inset 0 10px 10px -10px #2b2d34ba;
	}
}

// mobile menu
.mobile-menu {
	display: none;
}

.mm-ocd-opened {
	.mobile-menu {
		display: block;
	}

	.btn--close-sm {
		@media (max-width: 480px) {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			z-index: 99999999;
		}
	}
}

.mm-spn.mm-spn--light {
	color: #000;
	background: #ffffff;
}

.mm-spn {
	&.mm-spn--navbar:before {
		[dir="rtl"] &{
		transform: rotate(135deg) translateY(77%);
		right: var(--mm-spn-item-indent);
		left: auto;
		}
	}

	li {
		a,
		span {
			padding: 20px;
		}

		&:before {
			[dir="rtl"] & {
				width: 6px;
				height: 6px;
				// top: 25px;
				// top: calc(var(--mm-spn-item-height) / 2);
				top: 50%;
				left: 25px;
				left: calc(var(--mm-spn-item-height) / 2);
				right: auto;
				border-bottom: 1px solid;
				border-left: 1px solid;
				border-right: none;
				border-top: none;
			}
		}

		&:after {
			width: 100%;
			border-color: $infinte-color;
		}
	}
}
