.rtl, [dir="rtl"] {
  .rtl-range-slider {
    transform: rotateY(180deg);
  }

  .rtl-range-numbers {
    flex-direction: row-reverse;
  }

  .form-select, select {
    background-position: left 0.5rem center;
    padding-right: 12px;
  }

  // divide
  .menu-divide {
    li {
      &:not(:last-child) {
        &:after {
          left: 0;
          right: auto;
        }
      }
    }
  }
}