body {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  // font-family: $secondary-font;
  color: $main-text-color;
  position: relative;
}

p {
  font-size: 14px;
}

html {
  // overflow-x: hidden !important;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  border: 0;
  margin: 0;
  padding: 0;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  // font-family: $primary-font;
  font-weight: 600;
  margin-bottom: 0px;
  // color: $black-light;
}

a {
  text-decoration: none;
  -webkit-transition: color 0.4s;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  // color:$black;
}

img {
  max-width: 100%;
}

// a:hover {
//     color: #FF6767;
//     text-decoration: none;
// }

a:focus {
  outline: none;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}


h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 28px;
  line-height: 38px;
}

h4 {
  font-size: 22px;
  line-height: 32px;
}

h5 {
  font-size: 16px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 26px;
}


.f-color {
  color: #FF6767;
}

h5.subtitle {
  font-size: 16px;
  font-weight: 400;
}