@import "~swiper/css/bundle";
@import '~mmenu-light/dist/mmenu-light.css';
@import "./main_inc/app";
@import "./main_inc/tailwind";
// third parties ---
@import "~lite-youtube-embed";
@import '~flatpickr/dist/flatpickr.css';
@import '~flatpickr/dist/themes/airbnb.css';
.grid-trigger *{
  pointer-events: none;
}

  