.filepond {
    $filepond-root: &;

    &--credits {
        opacity: 0;
        visibility: hidden;
    }

    // &--list-scroller{
    //     top:7px !important;
    // }

    &--drop-label {
        background: var(--color-light-grey);
        cursor: pointer;
        min-height: 70px !important;
        border: 1px dashed rgba(238, 238, 238, var(--tw-border-opacity));

        .gifting-image & {
            min-height: 240px !important;

            .icon {
                font-size: 55px;
                opacity: 0.6;
                margin-bottom: 15px;
                display: block;
                color: #e1e1e1;
            }
        }

        * {
            font-family: var(--font-main);
        }

        label {
            font-family: var(--font-main) !important;
            font-size: 14px !important;
            color: #c6c7ce;
            margin: 0 !important;
            pointer-events: none;
        }

        &.filepond--drop-label {
            label {
                padding: 1px !important;
            }
        }
    }

    &--option-image {
        .filepond {
            &--drop-label {
                background: #fff;
                cursor: pointer;
                min-height: 120px !important;
            }
        }
    }

    &--option-multiple {
        .filepond {
            &--drop-label {
                border: unset;
                min-height: 120px !important;
            }
        }
    }

    &--label-action {
        // display: block;
        //   color: var(--color-text-lighter);
        text-decoration: none;
    }

    &--panel-root {
        background: var(--color-grey);
    }

    &--drip {
        background: transparent;
    }

    &--list {
        right: 0;
        left: 0;
    }

    &--list-scroller {
        .filepond--root & {
            margin: 0;
        }
    }

    &--item {
        position: absolute !important;
        margin: 0;
    }
}
