.home-slider {
	&__slide {
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;

    &:not(.loaded){
      .overlay{
        opacity: 0;
      }
    }
	}

	.swiper-button-next,
	.swiper-button-prev {
		opacity: 1;
		transition: opacity 0.3s;

		&:hover {
			opacity: 0.6;
		}

		&:after {
			font-size: 12px;
			// color: #fff;
		}
	}

	// arrows
	.swiper-button-next,
	&.swiper-rtl .swiper-button-prev {
		left: auto;
		right: 3%;

		@media screen and (min-width: 768px) {
			right: 8%;
		}
	}


	.swiper-button-prev,
	&.swiper-rtl .swiper-button-next {
		left: 3%;
		right: auto;

		@media screen and (min-width: 768px) {
			left: 8%;
		}
	}

	// block slider //////////////////
	&.photos-slider {
		.home-slider__slide {
      width: 80%;
      border-radius: 5px;
      overflow: hidden;
    }

		// pagination
		.swiper-pagination-bullet {
			width: 20px;
			border-radius: 5px;
			background: #fff;
			opacity: 0.3;

			&-active {
				opacity: 1;
				background-color: $main-color;
			}
		}

		.swiper-horizontal>.swiper-pagination-bullets,
		.swiper-pagination-bullets.swiper-pagination-horizontal,
		.swiper-pagination-custom,
		.swiper-pagination-fraction {
			bottom: 30px;
		}

		// arrows
		.swiper-button-prev,
		&.swiper-rtl .swiper-button-next {
			left: 12%;
			right: auto;
		}

		.swiper-button-next,
		&.swiper-rtl .swiper-button-prev {
			right: 12%;
			left: auto;
		}

		.swiper-button-next,
		.swiper-button-prev {
			&:hover {
				opacity: 0.96;
			}

			&::after {
				font-size: 14px;
				color: $main-color;
				font-weight: bold;
			}
		}
	}
}

.swiper:not(.swiper-initialized){
  .swiper-button{
    opacity: 0;
  }
}

// testimonials-slider
.testimonials-slider {
	&__slide {
		height: 254px;
	}

	.swiper-slide-prev,
	.swiper-slide-next {
		opacity: 0.6;

		.testimonial {
			width: 216px;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;
			padding: 20px !important;

			&__text {
				flex: 0;
			}

			&__avatar {
				margin: 0;
				margin-bottom: 20px;
				// margin-top: 20px;
			}

			&__icon {
				top: 14px;
				left: 90px;
				font-size: 38px;
			}

			&__border,
			&__rating {
				display: none;
			}
		}

		p {
			display: none;
		}
	}

	.swiper-slide-prev {
		display: flex;
		flex-direction: row-reverse;
	}

	.testimonial {
		height: 100%;
	}

	.swiper-button-next,
	.swiper-button-prev {
		width: 50px;
		height: 50px;
		background: $main-color;

		&:hover {
			opacity: 0.96;
		}

		&::after {
			font-size: 14px;
			color: #fff;
			font-weight: bold;
		}
	}

	// arrows
	//
}

// product details slider
.details-slider {

	.swiper-button-next,
	.swiper-button-prev {
	
		&:hover {
			opacity: 0.96;
		}

		&::after {
			font-size: 14px;
			color: $main-color;
			font-weight: 900;
		}
	}

	// arrows
	.swiper-button-prev,
	&.swiper-rtl .swiper-button-next {
		left: 30px;
		right: auto;
	}

	.swiper-button-next,
	&.swiper-rtl .swiper-button-prev {
		right: 30px;
		left: auto;
	}
}

.best-products-slider {
	.swiper-wrapper {
		@media screen and (min-width: 768px) {
			height: 510px;

			.swiper-slide {
				height: calc((100% - 30px) / 2);
			}
		}
	}
}

//general
.swiper-button-disabled {
	opacity: 0.5;
}


.offer-slider {
	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled {
		display: none;
	}

	.swiper-button-next,
	.swiper-button-prev {
		background-color: transparent;
		padding: 20px;
		width: 40px;
		height: 40px;

		&:hover {
			opacity: 0.9;
		}

		&:after {
			font-size: 16px;
			font-weight: bold;
			color: #898989;
		}
	}

	.swiper-button-next {
		justify-content: end;
		background: transparent linear-gradient(270deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	}

	.swiper-button-prev {
		justify-content: start;
		background: transparent linear-gradient(-270deg, #FFFFFF00 0%, #FFFFFF 100%) 0% 0% no-repeat padding-box;
	}


	// arrows
	.swiper-button-prev,
	&.swiper-rtl .swiper-button-next {
		left: 0;
		right: auto;
		width: 50px;
		padding: 8px;
		height: 100%;
		top: 0;
	}

	.swiper-button-next,
	&.swiper-rtl .swiper-button-prev {
		right: 0;
		left: auto;
	}
}
