{#
| Variable        | Type       | Description                                                      | @see  |
|-----------------|------------|------------------------------------------------------------------|-------|
| display_all_url | ?string    | If it's existed, mean should show load more link to this url     |       |
| title           | String     |                                                                  |       |
| products        | Products[] |                                                                  | #TODO |
| is_repeated     | Bool       | Determine if there was another section like this rendered before |       |
| position        | Int        | Sorting number start from zero                                   |       |
| order           | Int        | Sorting number start from one                                    |       |
| block_count     | Int        | Number of times this section rendered                            |       |
#}
<section class="s-block s-block--latestProducts container mt-8 {{ is_repeated?'repeated-block':'sm:mt-16' }}">
    <div class="flex justify-between mb-6 sm:mb-8">
        {% if title %}
            <h2 class="font-bold text-lg text-gray-500">{{ title }}</h2>
        {% endif %}
        <div class="flex items-center">
            {% if display_all_url %}
                <a href="{{ display_all_url }}" class="text-sm font-bold text-primary hover:opacity-80  ms-3">{{ trans('blocks.home.display_all') }}</a>
            {% endif %}
        </div>
    </div>
    <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 lg:gap-8">
        {% for product in products %}
            {% include 'pages.partials.product.card' with {is_horizontal:true, show_desc:true} %}
        {% endfor %}
    </div>
</section>

