{#
| Variable          | Type    | Description                                                      | @see  |
|-------------------|---------|------------------------------------------------------------------|-------|
| items             | Array   | List of sliders                                                  |       |
| items[].url       | string  |                                                                  |       |
| items[].link_type | ?String | category,product,offers,page,external_link,brand                 |       |
| image.url         | string  |                                                                  | #TODO |
| image.alt         | string  |                                                                  |       |
| position          | Int     | Sorting number start from zero                                   |       |
#}
<section id="photos-{{ position }}" class="s-block s-block--photos-slider mt-8 sm:mt-16 {{ is_repeated?'repeated-block':'' }}">
    <div class="swiper home-slider photos-slider" data-id="photos-{{ position }}">
        <div class="swiper-wrapper">
            {% for item in items %}
                <div class="swiper-slide h-80 md:h-96 lg:h-116 xl:h-132 home-slider__slide relative lazy-background swiper-lazy"
                     data-background="{{ item.image.url }}"></div>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="h-10 w-10 bg-white shadow-sm hidden md:flex swiper-button-prev rounded-full"></div>
        <div class="h-10 w-10 bg-white  shadow-sm hidden md:flex swiper-button-next rounded-full"></div>
    </div>
</section>