{#
| Variable      | Type   | Description                                                      |
|---------------|--------|------------------------------------------------------------------|
| items[]       | array  | List of 3 features                                               |
| items[].icon  | string | SallaIcons css class `sicon-*`                                   |
| items[].title | string | Title of the feature                                             |
| items[].text  | string | Subtitle for the feature                                         |
| position      | Int    | Sorting number start from zero                                   |
#}
<section class="s-block s-block--features container mt-8 sm:mt-16">
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-4 sm:gap-6 xl:gap-8">
      {% for item in items %}
        <div class="feature-box cursor-pointer bg-white transition-shadow duration-500 hover:shadow-default rounded-md flex-grow h-48 flex flex-col items-center justify-center">
          <div class="slide-anime-icon mb-3 bg-primary w-16 h-16 rounded-full flex items-center justify-center">
            <i class="{{ item.icon }} text-reverse text-3xl"></i>
          </div>
          <h4 class="font-bold text-sm text-title-color mb-1">{{ item.title }}</h4>
          <p class="text-sm text-gray-500">{{ item.text }}</p>
        </div>
      {% endfor %}
    </div>
</section>