{% extends "layouts.master" %}
{% block content %}

	<main id="main">
		<div class="container px-3 xs:px-5">
			 {% component breadcrumbs with {is_dark:true} %}
			<div class="flex flex-col items-start lg:flex-row pb-6 lg:pb-20">
				<div class="main-content flex-1 w-full">
					{% for item in items %}
						{% include 'pages.temp_cart_item' with {moreFields:item.has_options} %}
					{% else %}
						<div class="h-full content-placeholder content-placeholder--cart text-gray-text pt-36 pb-20 flex items-center flex-col justify-center">
                        <span class="rounded-icon w-36 h-36 bg-gray-bg mb-6">
                            <i class="sicon-shopping-bag text-6xl block text-reverse-dark"></i>
                        </span>
							<p class="text-sm mb-5">لم تقم بإضافة منتجات إلي السلة</p>
							<a href="/category" class="btn btn-outline-primary">تصفح المنتجات</a>
						</div>
					{% endfor %}
				</div>
				<!-- sidebar -->
				<div x-data="initCart()" x-cloak class="sticky -top-24 w-full lg:w-96  lg:ms-8">
					<div class="shadow-default bg-white p-5 xs:p-7 pb-12 rounded-md mb-5 relative">
						<div class="flex space-s-3">
							<div class="bg-primary text-white rounded-icon">
								<i class="free-shipping opacity-0 sicon-shipping-fast"></i>
							</div>

							<div class="flex-1">
								<h4 class="shipping-item opacity-0 font-bold text-sm mb-1.5">شحن مجاني</h4>
								<p class="shipping-item opacity-0 text-sm font- text-gray-text">احصل علي شحن مجاني عند شرائك
									بمبلغ 2000 ر.س او اكثر
								</p>
							</div>
						</div>
						<div class="mt-6" aria-hidden="true">
							<div class="bg-border-color rounded-full  mb-1.5">
								<div class="progress-bg transition-all duration-500 opacity0 h-4 bg-primary relative rounded-full flex justify-end"
									 style="width: 50px">
									<p class="text-sm absolute -bottom-7 -end-6">‏1220 ر.س</p>
								</div>
							</div>
							<!-- <div class="text-sm">
                                <div class="">‏1220 ر.س</div>
                            </div> -->
						</div>
					</div>

					<div
							class="shadow-default bg-white p-5 xs:p-7 rounded-md mb-5 relative transition-height duration-1000">
						<h4 class="font-bold text-sm mb-5">ملخص الطلب</h4>
						<div class="flex justify-between text-sm mb-5">
							<span class="text-gray-text">‏2 x عدد المنتجات</span>
							<b>‏1120 ر.س</b>
						</div>
						<div class="flex justify-between text-sm mb-5">
							<span class="text-gray-text">‏الشحن</span>
							<b>100 ر.س</b>
						</div>

						<div class="border-t border-border-color border-b py-5 mb-5">
							<label for="copounCode" class="block text-sm ">ادخل الكوبون</label>
							<div class="mt-2.5 relative">
								<input type="text" @keyup="isShowCopounError = false" @keyup.enter="addCopoun()"
									   x-model="copounCode" id="copounCode" name="copoun-code"
									   :class="{'has-error': isShowCopounError}" class="pe-24 form-input"
									   :disabled="isShowCopounDiscount">
								<button @click="addCopoun(); $dispatch('foo')" type="button"
										class="copoun-btn absolute rounded-s-none rounded-e-md flex-shrink-0 btn"
										:class="isShowCopounDiscount ? 'btn-danger' : 'btn-default'">
									<span x-show="!isShowCopounDiscount">تفعيل</span>
									<i x-show="isShowCopounDiscount" class="sicon-cancel text-xl w-8"></i>
								</button>
							</div>
							<!-- error msg -->
							<span x-show="isShowCopounError" class="text-xs text-red-700" id="validationHelp">مثال لرسالة
                            الخطأ.</span>
						</div>

						<!-- copoun discount -->
						<div x-show="isShowCopounDiscount" x-transition:enter="transition-height ease-out duration-300"
							 x-transition:enter-start="opacity-0 transfor h-0"
							 x-transition:enter-end="opacity-100 transform h-10"
							 x-transition:leave="transition-height ease-in duration-300"
							 x-transition:leave-start="opacity-100 transform h-10"
							 x-transition:leave-end="opacity-0 transform h-0" class="flex justify-between text-sm">
							<span class="text-gray-text block  h-10">الخصم</span>
							<b>‏- 120 ر.س</b>
						</div>

						<div class="flex justify-between text-sm mb-5">
							<span class="text-gray-text">مجموع السلة</span>
							<b>‏1100 ر.س</b>
						</div>

						<a href="/cart-success" type="button" class="w-full btn btn-primary">
							الذهاب إلى الدفع
						</a>

					</div>
				</div>

				<div
						class="fixed md:hidden space-s-2 flex justify-center items-center bottom-0 start-0 rounded-t-large py-5 px-5 w-full text-center bg-white shadow-top z-50">
					<span class="text-gray-text">مجموع السلة:</span>
					<b>‏1220 ر.س</b>
				</div>
			</div>
		</div>
	</main>
{% endblock %}

{% block scripts %}

	<script>
		document.addEventListener('DOMContentLoaded', () => {
			{% if items is empty %}
			salla.cart.event.clearCartSummary();
			{% endif %}
			animatedItems()
		})
		// TODO: add timeline
		function animatedItems() {
			anime({
				targets: '.free-shipping',
				opacity: [0, 1],
				duration: 2000,
				translateX: [-20, 0],
				delay: function (el, i) {
					return i * 100;
				},
			});

			anime({
				targets: '.shipping-item',
				opacity: [0, 1],
				duration: 2000,
				translateX: [-20, 0],
				delay: function (el, i) {
					return i * 100;
				},
			});

			// change progress
			document.querySelector('.progress-bg').style.width = '200px';
		}
		// cart
		function initCart() {
			return {
				copounCode: '',
				isShowCopounDiscount: false,
				isShowCopounError: false,
				addCopoun: function () {
					if (this.copounCode) {
						this.isShowCopounError = false;
						this.isShowCopounDiscount = !this.isShowCopounDiscount;
						if (!this.isShowCopounDiscount) {
							this.copounCode = '';
						}
					} else {
						this.isShowCopounError = true;
					}
				}
			}
		}
		//cart Item
		function initCartItem() {
			return {
				itemQty: 1,
				isRemoveItem: false,
				removeItem: function (event) {
					if (!this.isRemoveItem) {
						this.isRemoveItem = true;
						this.removeAnime();
					}
				},
				removeAnime() {
					let item = event.target.parentNode
					anime({
						targets: item,
						height: '0', // -> from 'height' to '0',
						'padding-top': '0',
						margin: 0,
						'padding-bottom': '0',
						easing: 'easeInOutQuad',
						duration: 500,
						opacity: 0,
						complete: function () {
							item.remove()
						}
					});
				}

			}
		}
	</script>
{% endblock %}
