{#
| Variable     | Type                  | Description | @see |
|--------------|-----------------------|-------------|------|
| page         | Page                  |             | TODO |
| page.title   | String                |             |      |
| page.content | String                |             |      |
| page.url     | String                |             |      |
| comments     | Feedback[] *Paginator |             | TODO |
#}
{% extends "layouts.master" %}
{% block content %}
    <main id="main">
        <div class="container">
            <nav class="w-full py-5">
                {% component 'header.breadcrumbs' with {breadcrumbs:[{url:link('/'),title:trans('common.titles.home')},{title:page.title}]} %}
            </nav>
            <div class="flex justify-center">
              <div class="content content--single-page lg:w-10/12 bg-white rounded p-6 lg:p-8 mt-4 lg:mt-12">
                <h1 class="font-bold text-2xl mb-6">{{ page.title }}</h1>
                <div class="content-entry">
                  {{ page.content|raw }}
                </div>
                {% component 'page-comments' with {comments:comments, id:page.id} %}
              </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            salla.infiniteScroll.initiate('.comments-container', '.comment-block', {
                history        : false,
                scrollThreshold: false
            })
        });
    </script>
{% endblock %}
