{#
| Variable     | Type                  | Description | @see |
|--------------|-----------------------|-------------|------|
| page         | Page                  |             | TODO |
| page.title   | String                |             |      |
| page.content | String                |             |      |
| page.url     | String                |             |      |
| comments     | Feedback[] *Paginator |             | TODO |
#}
{% extends "layouts.master" %}
{% block content %}
    <main id="main">
        <div class="container mb-24">
            {% component breadcrumbs with {breadcrumbs:[{url:link('/'),title:trans('common.titles.home')},{title:page.title}]} %}
            <h1 class="font-bold text-2xl text-center  md:text-start mb-7">{{ page.title }}</h1>
            <div class="content lg:w-2/3">
                {{ page.content|raw }}
            </div>
            {% component 'page-comments' with {comments:comments, id:page.id} %}
        </div>
    </main>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            salla.infiniteScroll.initiate('.comments-container', '.comment-block', {
                history        : false,
                scrollThreshold: false
            })
        });
    </script>
{% endblock %}
