{% extends "layouts.master" %}
{% block content %}
    <section class="page-wrapper page--search-results">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="category-title mb-30">
                        <h5 class="title title--primary title--has-dash">{{ page_title }}</h5>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if tag.products is not empty %}
                        <div class="grid-block products-list-container">
                            {% for product in tag.products %}
                                {% include 'pages.partials.product.card' %}
                            {% endfor %}
                        </div>
                        {% include 'pages.partials.loader-status' with {next_page:products.next_page} %}
                    {% else %}
                        <div class="placeholder-block placeholder-block--no-category flex flex-col justify-center items-center pt-16 px-8">
                            <i class="sicon-inbox block text-5xl text-gray-300 mb-2"></i>
                            <p class="text-base text-gray-500">
                                <span>{{trans('pages.categories.no_products')}}</span>
                              {{ page_title }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script>
    document.addEventListener( 'DOMContentLoaded', function () {
      salla.infiniteScroll.initiate('.products-list-container', '.product-block')
    })
    </script>
{% endblock %}
