
/* Top Nav */
.top-navbar {
  @apply py-2;

  @screen lg {
    @apply py-1.5;
  }

  .topnav-has-bg & {
    @apply bg-[color:var(--topnav-bg)];
  }

  .topnav-has-gradient & {
    @apply bg-gradient-to-r from-[color:var(--topnav-gradient-from)] to-[color:var(--topnav-gradient-to)];
  }

  .topnav-has-text-color & {
    @apply text-[color:var(--topnav-text-color)];
  }

  .topnav-is-dark & {
    @apply bg-gray-900 text-gray-300;

    .btn--circle-gray,
    .btn--rounded-gray{
      @apply bg-gray-100/10  hover:bg-gray-100/20
    }

    .topnav-link-item{
      @apply border-gray-300/10;
    }
  }
}

// contacs menu items - pages menu items
.topnav-link-item{
  @apply inline-block transition duration-300 px-4 last:pe-0 py-px text-sm leading-none ltr:border-r rtl:border-l border-gray-200 ltr:last:border-0 rtl:last:border-0 hover:text-primary;

  &.right-side{
    @apply first:ps-0
  }
}

/* Main Nav */
.main-nav-container {
  // Custom background Color
  .has-bg &,
  .has-bg & .sub-menu{
    @apply bg-[color:var(--mainnav-bg)];
  }

  // Custom text color
  .has-text-color & {
    @apply text-[color:var(--mainnav-text-color)];
  }

  // Dark mode
  .is-dark & {
    @apply bg-gray-800 text-gray-300;

    .dropdown-toggler,
    .dropdown__menu > div p{
      @apply text-gray-300;
    }

    .sub-menu,
    .dropdown__menu{
      @apply bg-gray-800 border-gray-300/10;
    }

    .sub-menu li a:hover,
    .dropdown__menu li a:hover,
    .menu-item.is-active,
    .has-children li a:hover,
    .has-children .has-children:hover > a{
      @apply bg-gray-200/10;
    }

    .dropdown__menu > div{
      @apply border-gray-300/10;
    }

    .product-entry{
      @apply bg-gray-800 border border-gray-300/10;

      .product-entry__title a:not(:hover){
        @apply text-gray-300;
      }
    }
  }
}

.menu-item {
  @apply flex items-center px-6 py-2.5 text-sm text-gray-500 transition-colors duration-300 hover:bg-gray-200/30;

  &.logout{
    @apply text-red-400;
  }

  &.is-active{
    @apply text-primary bg-gray-200/20;
  }
}

/* Sticky Header */
.main-nav-container {
  &.animated {
    .inner {
      transition: transform 0.5s, -webkit-transform 0.5s, opacity 0.4s;
    }
  }

  &.fixed-pinned {
    .inner {
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      width: 100%;
      z-index: 29;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transform: translate3d(0, -100%, 0);
    }

    .navbar-brand {
      img {
        max-height: 40px;
      }

      h4 {
        line-height: 1;
      }
    }

    .main-menu > li > a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
  }

  &.fixed-header {
    .inner {
      transform: translate3d(0, 0, 0);
    }
  }
}

.navbar-brand {
  @apply items-center flex my-2 lg:my-0;

  img {
    @apply max-h-14 sm:max-h-16 max-w-[170px];
  }
}

// Mainnav cart icon
#nav-cart{
  @apply flex items-center ms-4 transition-opacity hover:opacity-80 relative whitespace-nowrap;

  .icon{
    @apply text-3xl me-1;
  }

  span{
    @apply absolute top-1 -start-2;
  }
}
