/*
  Block Title
*/
.s-block{
  &__title{
    @apply pe-8 font-bold text-lg text-gray-700;

    &.offer{
      @apply text-red-400 text-xl;
    }
  }

  &__display-all{
    @apply inline-block text-sm font-bold text-primary hover:opacity-80;
  }
}

/*
  Main slider
*/
.s-block--hero-slider{
  .swiper-slide{
    @apply h-80 sm:h-96 lg:h-116 xl:h-132 relative;
  }
}

/* 
  Banner Blocks 
*/
.banner {
  @media screen and (min-width: 768px) {
    &:hover {
      .banner__title {
        animation: toTopFromBottom 0.9s;
      }

      .banner__description {
        animation: delayKeyframe 0.3s, toTopFromBottom 0.9s 0.3s;
      }
    }
  }
}

.banner-entry{
  @apply bg-warmGray-200 transition-opacity hover:opacity-95 bg-cover h-lg-banner text-white text-center p-3 xs:p-4 rounded-md overflow-hidden relative;

  &:after{
    content:'';
    @apply h-full w-full bg-black opacity-60 absolute top-0 left-0;
  }

  &__text{
    @apply flex md:opacity-0 hover:opacity-100 transition-opacity duration-500 flex-col justify-center  h-full p-0 xs:p-6 relative z-1 xs:border border-dashed border-border-color rounded-md;
  }
}

.full-banner-entry {
  @apply row-span-2 h-80 md:h-96 lg:h-116 xl:h-132 bg-warmGray-200 transition-opacity hover:opacity-95 bg-center bg-cover text-white text-center p-5 overflow-hidden relative bg-fixed;

  &::after,
  &::before {
    height: 100%;
    width: 100%;
    top: 0;
    right: -93%;
    content: "";
    background: var(--color-main);
    position: absolute;
    transition: all 0.3s ease-in-out;
    transform: rotate(220deg) translateY(-50%) translateX(33%);
    opacity: 0.25;
  }

  &::before {
    background: #fff;
    right: auto;
    transform: rotate(220deg) translateY(-40%) translateX(0);

    [dir="ltr"] & {
      left: -52%;
    }
  }

  @media (max-width: 1330px) {
    &::after {
      top: -50%;
    }
  }

  @media (max-width: 480px) {
    &::before {
      top: 20%;
    }

    &::after {
      top: -80%;
    }
  }
}

/* 
  Brands Block 
*/
.brand-item {
  @apply duration-300 hover:shadow-default flex justify-center items-center bg-white transition hover:opacity-95 bg-cover h-40 md:h-banner text-center md:px-10 p-5 rounded-md overflow-hidden relative;
}

/*
  Tabs Block
*/
.tabs-wrapper{
  .tabs__item{
    @apply hidden transition-all duration-300;

    &.is-active{
      @apply block;
    }
  }
}

.s-block--tabs-produtcs{
  .tabs{
    @apply text-center pb-6 sm:pb-10 px-5 -mx-5 lg:mx-0 space-s-1 md:space-s-4 whitespace-nowrap overflow-x-auto;
  }

  .tab-trigger{
    &.is-active{
      @apply bg-primary text-primary-reverse;
    }
  }
}

.s-block--special-products{
  .tabs{
    @apply mb-8 space-s-2 md:space-s-12 whitespace-nowrap overflow-x-auto;

    &__item{
      @apply flex-1 gap-4 sm:gap-8;

      &.is-active{
        @apply grid;
      }
    }
  }

  .tab-trigger{
    @apply text-gray-400 border-0 font-bold leading-7;

    &.is-active{
      @apply text-gray-600;
    }
  }
}

.s-block--tabs-produtcs,
.s-block--special-products {
  &:not(.tabs-initialized) {
    .tabs-wrapper > div:not(:first-child) {
      display: none;
    }
  }
}


.s-block--tabs-produtcs.as-grid,
.s-block--features-products{
  .product-entry__image {
    @apply bg-gray-100 flex-shrink-0 relative overflow-hidden hover:opacity-90 h-full max-h-[11rem] w-32 sm:w-56;
  }

  .product-entry__title a{
    @apply line-clamp-2;
  }
}

/* feature products*/
.s-block--features-products {
  &.two-cols {
    .inner {
      @apply grid lg:grid-cols-2 gap-5;
    }

    .product-entry__image {
      @apply w-32 sm:w-56 lg:w-28;
    }

    .grid .product-entry__title a{
      @apply line-clamp-1;
    }
  }
}

/* slider with bg block */
.s-block--slider-with-bg{
  @apply bg-gray-100 pb-8 sm:pb-16 mt-8 sm:mt-16 first-of-type:mt-0;

  .slider-bg{
    @apply h-96 sm:h-116 transition-opacity bg-center bg-cover text-white relative;
    
    &:before{
      content: '';
      @apply h-full w-full bg-black opacity-60 absolute top-0 left-0;
    }
  }
}

/*
  Main Links Block
*/
.slide--cat-entry {
  @apply bg-white rounded-md h-36 mb-8 p-3 text-center flex flex-col items-center justify-center text-gray-400 transition duration-500 hover:shadow-default hover:text-gray-500 border border-gray-100;

  i {
    @apply inline-block text-primary text-icon-lg mb-4;
  }

  h4 {
    @apply font-bold text-sm;
  }
}

/* 
  offers slider 
*/
.slide--offer-entry {
  @apply bg-white rounded-md h-36 mb-8 text-center flex flex-col items-center justify-between text-gray-600 transition duration-500 hover:shadow-default border border-border-color;
}

/*
* Home block spacing situations 
*/

.s-block {
  // Footer top spacing
  &--hero-slider,
  &--full-banner,
  &--tabs-produtcs,
  &--logos-slider,
  &--slider-with-bg {
    + #footer {
      margin-top: 0;
    }
  }

  // hero top spacing
  &--hero-slider,
  &--full-banner,
  &--tabs-produtcs,
  &--logos-slider,
  &--slider-with-bg {
    + .s-block--hero-slider {
      margin-top: 0;
    }
  }

  // pomotion top spacing
  &--full-banner,
  &--hero-slider,
  &--tabs-produtcs,
  &--logos-slider,
  &--slider-with-bg {
    + .s-block--full-banner {
      margin-top: 0;
    }
  }

  // brands top spacing
  &--logos-slider,
  &--hero-slider,
  &--tabs-produtcs,
  &--full-banner,
  &--slider-with-bg {
    + .s-block--logos-slider {
      margin-top: 0;
    }
  }

  // tabs top spacing
  &--tabs-produtcs,
  &--hero-slider,
  &--logos-slider,
  &--full-banner,
  &--slider-with-bg {
    + .s-block--tabs-produtcs {
      margin-top: 0;
    }
  }

  // slider with header & bg
  &--slider-with-bg,
  &--hero-slider,
  &--tabs-produtcs,
  &--logos-slider,
  &--full-banner {
    + .s-block--slider-with-bg {
      margin-top: 0;
    }
  }

  &--categories{
    @apply relative overflow-hidden mt-8;

    &__title{
      @apply font-bold text-lg mb-6 sm:mb-8 relative z-1 min-h-[28px];
    }

    &.merge-with-top-component{
      @apply -mt-24 md:-mt-28;

      .s-block--categories__title {
        color: #fff !important;
      }
    }
  }

  &--features{
    &__item{
      @apply cursor-pointer bg-white transition-shadow duration-500 hover:shadow-default rounded-md flex-grow h-48 flex flex-col items-center justify-center;

      .feature-icon{
        @apply mb-3 bg-primary w-16 h-16 rounded-full flex items-center justify-center;

        i{
          @apply text-reverse text-3xl;
        }
      }

      h4{
        @apply font-bold text-sm text-title-color mb-1;
      }

      p{
        @apply text-sm text-gray-500;
      }

      &:hover {
        .feature-icon i {
          animation: toRightFromLeft 0.3s forwards;
        }
      }
    }
  }
}

// repeated block top spacing
.s-block--features + .s-block--features,
.s-block--fixed-banner + .s-block--fixed-banner,
.s-block--banners + .s-block--banners {
  margin-top: 2em;
}

.s-block--tabs-produtcs + .s-block--tabs-produtcs {
  padding-top: 2em;
}