.swiper{
  &.slider-layout{
    @apply -mx-5 lg:-mx-3.75 lg:w-[calc(100%+30px)] pe-12 sm:pe-16 lg:pe-0 ps-3 lg:ps-0;
  }

  .slide--one-fourth{
    @apply h-auto w-full sm:w-1/2 md:w-4/12 lg:w-1/4 px-2 lg:px-3.75;
  }

  .slide--one-sixth{
    @apply w-1/2 sm:w-2/6 md:w-1/4 lg:w-1/6 px-2 lg:px-3.75;
  }
}

.home-slider {
  &__slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    &:not(.loaded) {
      .overlay {
        opacity: 0;
      }
    }
  }

  // block slider //////////////////
  &.photos-slider {
    .home-slider__slide {
      width: 80%;
      border-radius: 5px;
      overflow: hidden;
    }

    // pagination
    .swiper-pagination-bullet {
      width: 20px;
      border-radius: 5px;
      background: #fff;
      opacity: 0.3;

      &-active {
        opacity: 1;
        background-color: $main-color;
      }
    }

    .swiper-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-bullets.swiper-pagination-horizontal,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 30px;
    }
  }
}

.swiper:not(.swiper-initialized) {
  .swiper-button {
    opacity: 0;
  }
}

// testimonials-slider
.s-block--testimonials{
  .container{
    @apply p-0;
  }

  @media (min-width: 1024px){
    .container{
      max-width: 1240px;
    }
  }
}

.testimonials-slider {
  @apply transition-opacity;

  &:not(.swiper-initialized){
    @apply opacity-0;
  }

  &.swiper{
    @apply pe-12 lg:pe-0 ps-5 lg:ps-0;

    @media (min-width: 1024px){
      margin-left: -200px;
      margin-right: -200px;
    }
  }

  .testimonial {
    height: 100%;
    @apply shadow-default lg:shadow-none flex relative p-10 bg-white rounded-l-md transition-opacity opacity-60;

    &__inner{
      @apply flex;
    }

    &__avatar{
      @apply w-20 h-20 rounded-full overflow-hidden flex-shrink-0;
    }

    &__icon {
      @apply absolute end-12 lg:end-8 top-4 text-5xl text-primary;
    }

    &__text p,
    &__rating {
      display: none;
    }
  }

  .swiper-slide{
    @apply overflow-hidden px-3.75;
    width: 20%;
    height: auto;

    &:not(.swiper-slide-active){
      .testimonial {
        &__avatar {
          @apply mb-8;
        }

        &__inner{
          @apply flex-col items-center text-center relative;
        }

        &__icon{
          @apply -top-8 left-1/2 -translate-x-1/2 text-2xl;
        }
      }
    }
  }

  .swiper-slide-prev{
    .testimonial {
      @apply items-center justify-end;
      padding-inline-end: 7%;
    }
  }

  .swiper-slide-next {
    .testimonial {
      @apply items-center justify-start;
      padding-inline-start: 7%;
    }
  }

  .swiper-slide-active{
    width: 60%;

    .testimonial{
      box-shadow: 5px 0 0 0 $main-color;
      @apply opacity-100 lg:pe-24;

      &__inner{
        @apply w-full;

        @media (max-width: 1024px){
          @apply flex-col items-center justify-center text-center;

          .testimonial__avatar{
            @apply mb-3 mx-0;
          }
        }
      }

      &__avatar {
        @apply me-6;
      }

      &__rating,
      &__text p{
        display: block;
      }
    }
  }

  // navigation arrows
  .btn--md-white-arrow {
    @apply hidden lg:flex translate-y-1/2;
    right: 17%;

    &.slider-next {
      @apply start-auto; 
      left: 17%;
    }

    .ltr &{
      left: 17%;
      right: auto;

      &.slider-next { 
        right: 17%;
        left: auto
      }
    }
  }
}

.best-products-slider {
  .swiper-wrapper {
    @media screen and (min-width: 768px) {
      height: 510px;

      .swiper-slide {
        height: calc((100% - 30px) / 2);
      }
    }
  }
}

//general
.swiper-button-disabled {
  opacity: 0.5;
}