@font-face {
  font-family: 'DINNextLTArabic';
  src: url('../fonts/DINNextLTArabic/DINNextLTArabic-UltraLight.woff2') format('woff2'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-UltraLight.woff') format('woff'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-UltraLight.svg#DINNextLTArabic-UltraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src: url('../fonts/DINNextLTArabic/DINNextLTArabic-Light.woff2') format('woff2'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Light.woff') format('woff'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Light.svg#DINNextLTArabic-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src: url('../fonts/DINNextLTArabic/DINNextLTArabic-Regular.woff2') format('woff2'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Regular.woff') format('woff'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Regular.svg#DINNextLTArabic-Regular') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src: url('../fonts/DINNextLTArabic/DINNextLTArabic-Bold.woff2') format('woff2'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Bold.woff') format('woff'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Bold.svg#DINNextLTArabic-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src: url('../fonts/DINNextLTArabic/DINNextLTArabic-Heavy.woff2') format('woff2'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Heavy.woff') format('woff'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Heavy.svg#DINNextLTArabic-Heavy') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DINNextLTArabic';
  src: url('../fonts/DINNextLTArabic/DINNextLTArabic-Black.woff2') format('woff2'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Black.woff') format('woff'),
  url('../fonts/DINNextLTArabic/DINNextLTArabic-Black.svg#DINNextLTArabic-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

// Imort sallaicons from salla cloud
@import 'https://assets.salla.cloud/sallaicons.css';