<section class="s-block s-block--featuresProducts container mt-8 sm:mt-16 {{ is_repeated?'repeated-block':'' }}">
    <div class="grid {% if items | length > 1 %} lg:grid-cols-2 {% endif %} gap-5">
        {% for section in items %}
            <div class="flex flex-col">
                <div class="flex justify-between mb-6 sm:mb-8">
                    <h2 class="font-bold text-lg text-text-dark">{{ section.title }}</h2>
                </div>
                <div class="flex-1 grid lg:grid-cols-2 gap-4 sm:gap-8">
                    {% if section.featured_product %}
                        {% include 'pages.partials.product.card-full-image' with {product:section.featured_product} %}
                        <div class="grid gap-4 sm:gap-8">
                            {% for product in section.products|slice(0,3) %}
                                {% include 'pages.partials.product.card-mini' %}
                            {% endfor %}
                        </div>
                    {% else %}
                        {% for product in section.products %}
                            {% include 'pages.partials.product.card-mini' %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</section>
