<section class="home-block home-block--fixed-products show-all {{ is_repeated?'repeated-block pt-0':'' }}">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                {% if title %}
                    <div class="title title--primary title--x-large title--has-dash mb-30">
                    {{ title }}
                    {% if display_all_url %}
                        <a href="{{ display_all_url }}"
                           class="btn btn--oval btn--padded narrow btn--primary outlined font-base">
                            {{ trans('blocks.home.display_all') }}
                        </a>
                    {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="grid-block products-list-container">
                    {% for product in products %}
                        {% include 'pages.partials.product.card' %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

