{% set pagination=pagination or pagination is not defined %}
{% set navigation=navigation or navigation is not defined %}
<section class="s-block s-block--block-slider {{ is_repeated?'repeated-block mt-8':'mt-16' }}">
    <div class="swiper home-slider block-slider">
        <div class="swiper-wrapper">
            {% for item in items %}
                <div class="swiper-slide home-slider__slide relative lazy-background" data-src="{{ item.image.url }}">
                    <div class="flex justify-center items-center container  home-slider__content relative h-full">
                        <div class="z-20 w-5/6 md:w-7/12 lg:w-5/12 lg:text-center text-white">
                            {# <h3 class="block-slide-anime  lg:text-title-size font-bold leading-normal mb-4">{{ item.text }}</h3> #}
                            {# <p class="block-slide-anime description">{{ $slide.description }}</p> #}
                        </div>
                    </div>
{#                    <div class="overlay absolute top-0 z-0 bg-dark opacity-60  w-full h-full"></div>#}
                </div>
            {% endfor %}
        </div>
        {% if pagination %}
            <div class="swiper-pagination"></div>
        {% endif %}
        {% if navigation %}
            <div class="h-10 w-10 bg-white shadow-sm hidden md:flex swiper-button-prev rounded-full"></div>
            <div class="h-10 w-10 bg-white  shadow-sm hidden md:flex swiper-button-next rounded-full"></div>
        {% endif %}
    </div>
</section>
{# TODO:: Move To js file #}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const swiper = new Swiper('.block-slider', {
            // Optional parameters
            slidesPerView : "auto",
            loop          : true,
            centeredSlides: true,
            spaceBetween  : 30,

            // pagination
            pagination: {
                el       : '.swiper-pagination',
                clickable: true,
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },

            breakpoints: {
                // when window width is >=
                320: {
                    spaceBetween: 10,

                },
                // when window width is >=
                768: {
                    spaceBetween: 15,
                },
                // when window width is >=
                980: {
                    paceBetween: 30,
                },
            }

        });

        swiper.on('slideChange', function () {
            animateSliderItems()
        });

        function animateSliderItems() {
            setTimeout(() => {
                anime({
                    targets   : '.swiper-slide-active .block-slide-anime',
                    opacity   : [0, 1],
                    duration  : 3500,
                    translateX: [70, 0],
                    delay     : function (el, i) {
                        // console.log("i", i);
                        return i * 200;
                    },
                })
            }, 10);
        }

    });
</script>