<!-- Start Side Nav -->
<nav class="nav-desktop nav-desktop--vertical {{ is_repeated?'repeated-block mt-8':'mt-16' }}">
    <div class="top-bar">
        <i class="{{ icon|default('sicon-list') }}"></i>
        <div class="cat-title">{{ title|default(trans('common.titles.categories')) }}</div>
    </div>
    <ul>
        {% for menu_id, menu in menus %}
            {% include 'components.header._menu-item' %}
        {% endfor %}
    </ul>
</nav>
