{#
| Variable                    | Type          | Description                                   |
|-----------------------------|---------------|-----------------------------------------------|
| advertisement               | Advertisement |                                               |
| advertisement.id            | int           |                                               |
| advertisement.icon          | string        | Css class                                     |
| advertisement.title         | string        |                                               |
| advertisement.description   | string        |                                               |
| advertisement.url           | ?string       |                                               |
| advertisement.close_url     | string        | * Should be client side to avoid cache issues |
| advertisement.colors        | object        |                                               |
| advertisement.colors.bg     | string        | Hex Color ex: #23d1b0                         |
| advertisement.colors.text   | string        | Hex Color ex: #ffffff                         |
| advertisement.target        | string        | `_self`, `_blank`                             |
#}
<salla-advertisement>
{# 
    | Need to customize the advertisement?
    | --------------------------------
    | This component has a smart slot that have access to the advertisement data.
    | By calling the replaceable keys you can access each part of the advertisement.
    | 
    | 
    | Accessible keys
    | --------------------------------
    | |     Key     |
    | |-------------|
    | |   {icon}    |
    | |   {url}     |
    | |  {target}   |
    | | {bg_color}  |
    | |{text_color} |
    | |{description}|
    | 
    | 
    | Usage
    |--------------
    | <salla-advertisement>
    |   <div slot="adv">
    |     // Your custom html here, you can use the keys as below
    |       <div>...{description}...<div>
    |       <i class="{icon}"></i>
    |   </div>
    | </salla-advertisement>
    |
#}
</salla-advertisement>