{# Deprecated: use custom-main-menu (main-menu.js) custom element instead #}

{#
| Variable             | Type                   | Description                                        |
|----------------------|------------------------|----------------------------------------------------|
| menus                | Menu[] *Collection     | List of menus                                      |
| menus[].has_children | Bool                   |                                                    |
| menus[].url          | string                 |                                                    |
| menus[].title        | string                 |                                                    |
| menus[].attrs        | string                 | Menu dom attributes ex: ` id="offers"`             |
| menus[].link_attrs   | string                 | Menu link dom attributes ex: `class="offers-link"` |
| menus[].children     | Menu[] *Collection     |                                                    |
| menus[].products     | ?Product[] *Collection | List of selected products or null                  |
#}

<nav id="mobile-menu" class="mobile-menu">
    <ul class="main-menu">
        {% for menu_id, menu in menus %}
            {% include 'components.header._menu-item' with {is_root_menu:true} %}
        {% endfor %}
    </ul>
    <button class="btn--close close-mobile-menu sicon-cancel lg:hidden"></button>
</nav>
<button class="btn--close-sm close-mobile-menu sicon-cancel hidden"></button>

