{# Deprecated:: use salla-products-slider/salla-pproducts-list source="related" #}
{% if products|length %}
<div class="container">
  <section id="similar-slider" class="mb-8 md:mb-20 rtl:pl-0 ltr:pr-0 lg:overflow-hidden">
    {% include 'pages.partials.product.slider' with {
      products: products, 
      type: 'similar',
      title: trans('pages.products.similar_products')
      }
    %}
  </section>
</div>
{% endif %}