{% if products|length %}
<div class="container">
  <section id="similar-slider" class="mb-8 md:mb-20 pe-0 lg:overflow-hidden">
    {% include 'pages.partials.product.slider' with {
      products: products, 
      type: 'similar',
      title: trans('pages.products.similar_products')
      }
    %}
  </section>
</div>
{% endif %}