<nav aria-label="Sidebar" class="lg:sticky flex-shrink-0 top-24 md:w-44  p-8 lg:p-0  lg:me-8 pb-11"  id="filters-menu">
    <h2 class="font-bold mb-3">{{ trans('pages.blog_categories.categories') }}</h2>
    <ul>
        {% for category in categories  %}
            <li {{ category.is_current ? ' class="color-main"' : '' }}>
                <a class="py-3 block text-sm hover:text-primary" href="{{ category.url }}">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>