.btn {
	@apply transition duration-300 flex-1 inline-flex justify-center items-center px-6 pb-2.5 pt-2 text-sm font-bold rounded-md hover:opacity-80 whitespace-nowrap;

	.loader {
		width: 0;
		opacity: 0;
		height: 16px;
		transform: scale(0);
		transition: 0.3s;
	}

	&--is-loading {
		pointer-events: none;

		.loader {
			width: 16px;
			margin: 0 5px;
			opacity: 1;
			transform: scale(1);
		}
	}

	&--delete {
		.loader {
			width: 15px;

			&:before {
				width: 12px;
				height: 12px;
				border-top-color: transparent;
				border-bottom-color: #fff;
				border-left-color: transparent;
				border-right-color: #fff;
			}
		}

		&.btn--is-loading {
			.icon {
				opacity: 0;
			}
		}
	}

	&--quantity {
		@apply text-gray-400 w-11 hover:text-primary transition-colors duration-300;
	}

	&__text {
		@apply transition-transform duration-500 inline-block pointer-events-none;
	}

	&--wishlist {
		@apply relative text-gray-300 lg:ms-2.5 justify-center items-center w-10 h-10;

    i {
      line-height: 2;
      pointer-events: none;
    }

    .loader{
      @apply absolute transition inset-x-0 inset-y-0 opacity-0 flex justify-center items-center pointer-events-none;
    }

    .sicon-heart-off{
      @apply text-primary
    }

    &.is--loading {
      .loader {
        opacity: 1;

        &:before {
          width: 14px;
          height: 14px;
          border-width: 1px;
        }
      }

      i {
        display: none;
      }
    }
	}

	&--rounded-gray {
		@apply inline-flex flex-grow-0 justify-center w-full rounded-full px-2.5 py-2 items-center transition-colors bg-gray-200/30 hover:bg-gray-200/50 text-sm font-medium whitespace-nowrap;
	}

	&--circle-gray {
		@apply inline-flex justify-center items-center rounded-full px-3 py-3 h-9 w-9 transition-colors bg-gray-200/30 hover:bg-gray-200/50 text-sm font-medium;
	}

	&--icon {
		@apply flex items-center justify-center transition bg-white text-gray-500 border-gray-150  hover:border-gray-200 hover:text-gray-600 mx-1 border rounded-full w-10 h-10 font-medium flex-shrink-0;

    i{
      @apply pointer-events-none;

      &.sicon-heart{ 
        @apply text-theme-red;
      }
    }

    &.btn--share{
      margin: 0;
    }

    &.favorited{
      @apply bg-primary text-primary-reverse border-primary;
    }
	}

	&--close {
		@apply hidden xs:block h-12 w-14 text-red-500 text-2xl absolute top-0 end-0 z-50;
	}

	&--close-sm {
		@apply opacity-0 transform -translate-y-full transition duration-300 h-[51px] w-[51px] bg-red-500 text-white text-xl fixed top-0 end-0 z-50;
	}

  &--collapse{
    @apply w-full bg-gray-bg py-2.5 xs:ps-7 xs:pe-5 rounded-md flex items-center text-gray-500 justify-center text-sm;
  }

	/* --- Sliders nav arrows --- */
	/*
    used in:
      1- Latest proudcts slider - home block
      2- Offers slider
      3- Similar products
    */
	&--sm-arrow {
		@apply inline-flex items-center justify-center border text-gray-500 rounded-full w-7 h-7 text-gray-400;
	}

	/*
    used in:
      1- Home tabs block
    */
	&--md-arrow {
		@apply inline-flex items-center justify-center border text-gray-500 rounded-full w-10 h-10 text-xl;

    &.light{
      @apply text-white border-white;
    }
	}

	/*
    used in:
      1- Main slider (enhancend slider)
      2- Photos slider
      3- Product slider
      4- Testimonials slider
    */
	&--md-white-arrow {
		@apply h-10 w-10 bg-white text-primary transition shadow-sm hidden md:flex justify-center items-center rounded-full hover:opacity-60 absolute top-1/2 -translate-y-1/2 z-1 start-4 xl:start-8;

		&.slider-next {
			@apply start-auto end-4 xl:end-8;
		}

		i {
			font-size: 22px;
		}

		.ltr & {
			i {
				transform: scaleX(-1);
			}
		}
	}

  /* Disabled state */
  &.btn:disabled {
    @apply text-gray-300 bg-white hover:bg-white shadow-sm border border-border-color cursor-default;
  }

  &:disabled {
    .s-button-text {
      @apply opacity-70;
    }
  }

  /* Button Variants */
  &--danger {
    @apply bg-theme-red text-white hover:opacity-80;
  }

  &--primary {
    @apply text-primary-reverse border border-primary bg-primary;
  }

  &--outline-primary {
    @apply border border-primary text-primary hover:bg-primary hover:text-primary-reverse;
  }

  &--outline-primary-dark {
    @apply border border-primary-d text-reverse hover:bg-primary-d;
  }

  &--outline{
    @apply text-gray-400 bg-white hover:bg-primary hover:text-white hover:border-primary shadow-sm border border-border-color;

    &.light{
      @apply bg-transparent text-white border-white;
    }
  }

  &--rounded-full{
    @apply rounded-full;
  }
}

.btn--star {
  @apply px-0.5 text-lg text-gray-400 opacity-50;

	&.selected {
		@apply text-amber-400;
		opacity: 1;
	}

	&[disabled] {
		border: unset;
		background-color: transparent !important;

		&.selected {
			@apply text-amber-400;
		}
	}

	&:hover,
	&.hovered {
		&:not([disabled]):not(.selected) {
			opacity: 1;
			@apply text-amber-400;
		}
	}
}

.rounded-icon {
  @apply w-16 h-16 flex justify-center items-center rounded-full text-3xl;
}