{#
| Variable                | Type        | Description | @see |
|-------------------------|-------------|-------------|------|
| articles                | Article[]   |             | TODO |
| page_title              | String      |             |      |
| category                | BlogCategory|             | TODO |
| category.name           | String      |             |      |
#}
{% extends "layouts.master" %}

{% block content %}
    <main id="main">
        <div class="container mb-24">
            <div class="flex items-center justify-between">
                 <nav class="w-full py-5">
                    {% component 'header.breadcrumbs' %}
                </nav>

                <a class="lg:hidden  space-s-1.5 hover:underline flex mburger mburger--collapse text-sm text-primary"
                   href="#filters-menu">
                    <i class="sicon-filter text-xs"></i>
                    <span class="fix-align">{{ trans('pages.blog_categories.categories') }}</span>
                </a>
            </div>

            <div class="flex items-start">

                {% include 'pages.blog.partials.sidebar' %}

                <div class="main-content blog-category w-96 flex-1">

                    <div class="sr-only lg:not-sr-only ">
                        <h1 class="blog-category__title font-bold text-lg mb-8">{{ category.name }}</h1>
                    </div>

                    {% if articles is not empty %}
                        <div class="grid md:grid-cols-2 gap-8 articles-container">
                            {% for article in articles %}
                                {% include 'pages.blog.partials.article-with-summary' %}
                            {% endfor %}
                        </div>

                        {% include 'pages.partials.loader-status' with {next_page:articles.next_page} %}
                    {% else %}
                        <div class="placeholder-block placeholder-block--no-category flex flex-col justify-center items-center pt-16 px-8">
                            <i class="sicon-inbox block text-5xl text-gray-300 mb-2"></i>
                            <p class="text-base text-gray-500">
                                <span>{{ trans('pages.blog_categories.no_articles') }}</span>
                                {{ page_title }}
                            </p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}


{% block scripts %}
<script>
    document.addEventListener( 'DOMContentLoaded', function () {
        salla.infiniteScroll.initiate('.articles-container', '.post-entry')
    })
</script>
{% endblock %}
